@model EmployeeTracking.Data.ModelCustom.AddImageModel
@using System.Web.Configuration;
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cập nhật ảnh báo cáo</h4>
    </div>
    @using (Html.BeginForm("UpdateUnSubmitSession", "ImageManagement", FormMethod.Post, new { id = "TheForm", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => Model.EmployeeId)
        @Html.HiddenFor(m => Model.MasterStoreId)
        @Html.HiddenFor(m => Model.TrackId)
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Ảnh cửa hàng</h3>
                        </div>
                    </div>
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-3">
                            <div class="row">
                                @{
                                    string defaultImage = WebConfigurationManager.AppSettings["rootURl"] + "/Content/Images/NoImage.png";
                                    string id = "";
                                    var fGeneral = Model.FileUploads.FirstOrDefault(m => m.TypeId == "DEFAULT" && m.SubType == "HINH_TONG_QUAT");
                                    if (fGeneral != null)
                                    {
                                        id = fGeneral.FileId;
                                        defaultImage = fGeneral.FilePath + fGeneral.FileName;
                                    }
                                }
                                <div class="col-md-12" id="_divDEFAULT-GENERAL">
                                    <img alt="Ảnh review" id="_imgDEFAULT-GENERAL" style="width: 150px; height: auto;" src="@defaultImage" />
                                    <input type="hidden" id="_idDEFAULT-GENERAL" name="_idDEFAULT-GENERAL" value="@id" />
                                </div>
                                <div class="col-md-12" style="display: none;">
                                    <input type="file" id="DEFAULT-GENERAL" name="DEFAULT-GENERAL"
                                           onchange="ValidateFile(this);" />
                                </div>
                                <div class="col-md-12">
                                    <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('DEFAULT-GENERAL').click();">Hình tổng quát</button>
                                    <div class="divValidate" id="_valDEFAULT-GENERAL"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                @{
                                    defaultImage = WebConfigurationManager.AppSettings["rootURl"] + "/Content/Images/NoImage.png";
                                    id = "";
                                    var fAddress = Model.FileUploads.FirstOrDefault(m => m.TypeId == "DEFAULT" && m.SubType == "HINH_DIA_CHI");
                                    if (fAddress != null)
                                    {
                                        id = fAddress.FileId;
                                        defaultImage = fAddress.FilePath + fAddress.FileName;
                                    }
                                }
                                <div class="col-md-12" id="_divDEFAULT-ADDRESS">
                                    <img alt="Ảnh review" id="_imgDEFAULT-ADDRESS" style="width: 150px; height: auto;" src="@defaultImage" />
                                    <input type="hidden" id="_idDEFAULT-ADDRESS" name="_idDEFAULT-ADDRESS" value="@id" />
                                </div>
                                <div class="col-md-12" style="display: none;">
                                    <input type="file" id="DEFAULT-ADDRESS" name="DEFAULT-ADDRESS"
                                           onchange="ValidateFile(this);" />
                                </div>
                                <div class="col-md-12">
                                    <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('DEFAULT-ADDRESS').click();">Hình địa chỉ</button>
                                    <div class="divValidate" id="_valDEFAULT-ADDRESS"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                @{
                                    defaultImage = WebConfigurationManager.AppSettings["rootURl"] + "/Content/Images/NoImage.png";
                                    id = "";
                                    var fSelfie = Model.FileUploads.FirstOrDefault(m => m.TypeId == "SELFIE");
                                    if (fSelfie != null)
                                    {
                                        id = fSelfie.FileId;
                                        defaultImage = fSelfie.FilePath + fSelfie.FileName;
                                    }
                                }
                                <div class="col-md-12" id="_divSELFIE">
                                    <img alt="Ảnh review" id="_imgSELFIE" style="width: 150px; height: auto;" src="@defaultImage" />
                                    <input type="hidden" id="_idSELFIE" name="_idSELFIE" value="@id" />
                                </div>
                                <div class="col-md-12" style="display: none;">
                                    <input type="file" id="SELFIE" name="SELFIE"
                                           onchange="ValidateFile(this);" />
                                </div>
                                <div class="col-md-12">
                                    <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('SELFIE').click();">Hình chấm công</button>
                                    <div style="color:Red; clear:left;" id="_valSELFIE"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <h3>Ảnh POSM</h3>
                            </div>
                            @{
                                var listType = Model.FileUploads.Select(m => m.TypeId).Distinct();
                                foreach (var t in listType)
                                {
                                    var listData = Model.FileUploads.Where(m => m.TypeId == t).ToList();
                                    int number = 0;
                                    try
                                    {
                                        number = listData.FirstOrDefault(m => m.PosmNumber > 0).PosmNumber;
                                    }
                                    catch
                                    {
                                        number = 0;
                                    }
                                    if (listData[0].TypeId == "DEFAULT" || listData[0].TypeId == "STORE_FAILED" || listData[0].TypeId == "SELFIE")
                                    {
                                        continue;
                                    }
                                    @Html.HiddenFor(m => listData[0].TypeId)
                                    @Html.HiddenFor(m => listData[0].TypeName)
                                    <div class="col-xs-12" style="background-color:deepskyblue; margin-top:10px;">
                                        <div class="col-xs-10">
                                            <h5><b>@listData[0].TypeName</b></h5>
                                        </div>
                                        <div class="col-xs-2" style="margin:0px !important;padding:0px !important;">
                                            <input type="number" id="number-@listData[0].TypeId" name="number_@listData[0].TypeId" value="@number" style="float:right; width:100px; margin-top:5px;" min="0" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            @{
                                                int count = listData.Count(m => m.TypeId.Contains("BANNER") || m.TypeId.Contains("STICKER"));
                                                if (count > 0)
                                                {
                                                    for (int i = 0; i < listData.Count(); i++)
                                                    {
                                                        var divAdd = "_div" + listData[i].TypeId;
                                                        var imageAdd = "_img" + listData[i].TypeId;
                                                        var valAdd = "_val" + listData[i].TypeId;

                                                        id = listData[i].FileId;
                                                        defaultImage = listData[i].FilePath + listData[i].FileName;

                                                        if (listData[i].TypeId.Contains("BANNER") || listData[i].TypeId.Contains("STICKER"))
                                                        {
                                                            var divPXN = "_div" + listData[i].TypeId + "-PXN";
                                                            var imagePXN = "_img" + listData[i].TypeId + "-PXN";
                                                            var valPXN = "_val" + listData[i].TypeId + "-PXN";
                                                            var divPXNFULL = "_div" + listData[i].TypeId + "-PXNFULL";
                                                            var imagePXNFULL = "_img" + listData[i].TypeId + "-PXNFULL";
                                                            var valPXNFULL = "_val" + listData[i].TypeId + "-PXNFULL";
                                                            var divSPVB = "_div" + listData[i].TypeId + "-SPVB";
                                                            var imageSPVB = "_img" + listData[i].TypeId + "-SPVB";
                                                            var valSPVB = "_val" + listData[i].TypeId + "-SPVB";

                                                            if (listData[i].SubType == "HINH_KY_PXN")
                                                            {
                                                                <div class="col-md-3 col-xs-12">
                                                                    <div class="row">
                                                                        <div id="@divPXN">
                                                                            <img alt="Ảnh review" id="@imagePXN" style="width: 150px; height: auto;" src="@defaultImage" />
                                                                        </div>
                                                                        <div style="display: none;">
                                                                            <input type="hidden" id="@listData[i].TypeId-PXN-fileid" name="@listData[i].TypeId-PXN-fileid" value="@id" />
                                                                            <input type="file" id="@listData[i].TypeId-PXN" name="@listData[i].TypeId-PXN"
                                                                                   onchange="ValidateFile(this);" />
                                                                        </div>
                                                                        <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('@listData[i].TypeId-PXN').click();">Hình ký PXN</button>
                                                                        <div style="color:Red; clear:left;" id="@valPXN"></div>
                                                                    </div>
                                                                </div>
                                                                continue;
                                                            }
                                                            if (listData[i].SubType == "HINH_PXN_FULL")
                                                            {
                                                                <div class="col-md-3 col-xs-12">
                                                                    <div class="row">
                                                                        <div id="@divPXNFULL">
                                                                            <img alt="Ảnh review" id="@imagePXNFULL" style="width: 150px; height: auto;" src="@defaultImage" />
                                                                        </div>
                                                                        <div style="display: none;">
                                                                            <input type="hidden" id="@listData[i].TypeId-PXNFULL-fileid" name="@listData[i].TypeId-PXNFULL-fileid" value="@id" />
                                                                            <input type="file" id="@listData[i].TypeId-PXNFULL" name="@listData[i].TypeId-PXNFULL"
                                                                                   onchange="ValidateFile(this);" />
                                                                        </div>
                                                                        <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('@listData[i].TypeId-PXNFULL').click();">Hình PXN đầy đủ</button>
                                                                        <div style="color:Red; clear:left;" id="@valPXNFULL"></div>
                                                                    </div>
                                                                </div>
                                                                continue;
                                                            }
                                                            if (listData[i].SubType == "HINH_SPVB")
                                                            {
                                                                <div class="col-md-3 col-xs-12">
                                                                    <div class="row">
                                                                        <div id="@divSPVB">
                                                                            <img alt="Ảnh review" id="@imageSPVB" style="width: 150px; height: auto;" src="@defaultImage" />
                                                                        </div>
                                                                        <div style="display: none;">
                                                                            <input type="hidden" id="@listData[i].TypeId-SPVB-fileid" name="@listData[i].TypeId-SPVB-fileid" value="@id" />
                                                                            <input type="file" id="@listData[i].TypeId-SPVB" name="@listData[i].TypeId-SPVB"
                                                                                   onchange="ValidateFile(this);" />
                                                                        </div>
                                                                        <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('@listData[i].TypeId-SPVB').click();">Hình SPVB</button>
                                                                        <div style="color:Red; clear:left;" id="@valSPVB"></div>
                                                                    </div>
                                                                </div>
                                                                continue;
                                                            }
                                                            <div class="col-md-3 col-xs-12">
                                                                <div class="row">
                                                                    <div id="@divAdd">
                                                                        <img alt="Ảnh review" id="@imageSPVB" style="width: 150px; height: auto;" src="@defaultImage" />
                                                                    </div>
                                                                    <div style="display: none;">
                                                                        <input type="hidden" id="@listData[i].TypeId-Other-fileid" name="@listData[i].TypeId-Other-fileid" value="@id" />
                                                                        <input type="file" id="@listData[i].TypeId" name="@listData[i].TypeId" multiple
                                                                               onchange="ValidateMultiFile(this);" />
                                                                    </div>
                                                                    <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('@listData[i].TypeId').click();">Thêm ảnh</button>
                                                                    <div style="color:Red; clear:left;" id="@valAdd"></div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    var fOneItem = listData.FirstOrDefault(m => m.SubType == "");
                                                    var divAdd = "_div" + fOneItem.TypeId;
                                                    var imageAdd = "_img" + fOneItem.TypeId;
                                                    var valAdd = "_val" + fOneItem.TypeId;
                                                    id = fOneItem.FileId;
                                                    defaultImage = fOneItem.FilePath + fOneItem.FileName;
                                                    <div class="col-md-3 col-xs-12">
                                                        <div class="row">
                                                            <div id="@divAdd">
                                                                <img alt="Ảnh review" id="@imageAdd" style="width: 150px; height: auto;" src="@defaultImage" />
                                                            </div>
                                                            <div style="display: none;">
                                                                <input type="hidden" id="@fOneItem.TypeId-Other-fileid" name="@fOneItem.TypeId-Other-fileid" value="@id" />
                                                                <input type="file" id="@fOneItem.TypeId" name="@fOneItem.TypeId" multiple
                                                                       onchange="ValidateMultiFile(this);" />
                                                            </div>
                                                            <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('@fOneItem.TypeId').click();">Thêm ảnh</button>
                                                            <div style="color:Red; clear:left;" id="@valAdd"></div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Không thành công</h3>
                        </div>

                        <div class="col-xs-3">
                            <div class="row">
                                @{
                                    defaultImage = WebConfigurationManager.AppSettings["rootURl"] + "/Content/Images/NoImage.png";
                                    id = "";
                                    var fFail = Model.FileUploads.FirstOrDefault(m => m.TypeId == "STORE_FAILED");
                                    if (fFail != null)
                                    {
                                        id = fFail.FileId;
                                        defaultImage = fFail.FilePath + fFail.FileName;
                                    }
                                }
                                <div id="_divSTORE_FAILED">
                                    <img alt="Ảnh review" id="_imgSTORE_FAILED" style="width: 150px; height: auto;" src="@defaultImage" />
                                    <input type="hidden" id="_idSTORE_FAILED" name="_idSTORE_FAILED" value="@id" />
                                </div>
                                <div style="display: none;">
                                    <input type="file" id="STORE_FAILED" name="STORE_FAILED" multiple
                                           onchange="ValidateMultiFile(this);" />
                                </div>
                                <button type="button" style="float:left; margin-top:5px;" class="btn btn-info" onclick="document.getElementById('STORE_FAILED').click();">Thêm ảnh</button>
                                <div style="color:Red; clear:left;" id="_valSTORE_FAILED"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Lưu lại</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    }
</div>
