@using EmployeeTracking.Data.ModelCustom

@{
    ViewBag.Title = "Quản lý hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link href="~/Assets/sumo/sumoselect.min.css" rel="stylesheet" />

    <style>
        @@media (min-width: 992px) {
            .modal-lg {
                width: 85%;
            }
        }

        .track-expand table > thead > tr > th,
        .track-expand table > tbody > tr > td {
            border: 2px solid #f4f4f4;
        }

        td.details-control {
            background: url('/Content/Images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/Content/Images/details_close.png') no-repeat center center;
        }

        div#myModal {
            max-width: 600px;
            /*max-height: 500px;*/
        }

        .modal-open {
            overflow: auto !important;
        }
        .modal-open .modal {
            overflow-y:hidden;
        }

        .modal {
            background: rgba(0,0,0,0);
        }

        .modal-body {
            position: relative;
            max-height: 500px;
            overflow-y: auto;
        }

        .modal-backdrop {
            display: none !important;
        }

        .modal-header {
            height: 30px;
            background-color: #444;
            color: #ddd;
        }

    </style>
}


<script src="~/Scripts/jquery-migrate-1.4.1.js"></script>
<script src="~/Assets/sumo/jquery.sumoselect.min.js"></script>
<h2>Quản lý hình ảnh</h2>

<div class="row">
    <div class="col-xs-12">
    </div>
</div>
<div class="row form-group">
    <div class="col-lg-1 col-md-2 col-xs-12 text-right">Ngày</div>
    <div class="col-lg-5 col-md-4 col-xs-12"><input type="text" id="searchDate" name="searchDate" class="form-control" /></div>
    <div class="col-lg-1 col-md-2 col-xs-12 text-right">Cửa hàng</div>
    <div class="col-lg-5 col-md-4 col-xs-12"><select id="searchStore" name="searchStore" class="form-control" multiple="multiple"></select></div>
</div>
<div class="row form-group">
    <div class="col-lg-1 col-md-2 col-xs-12 text-right">Nhân viên</div>
    <div class="col-lg-5 col-md-4 col-xs-12">
        <select id="searchEmployee" name="searchEmployee" class="form-control" multiple="multiple">
            @{
                foreach (var item in ViewBag.employee as List<EmployeeManagerModel>)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    </div>
    <div class="col-lg-1 col-md-2 col-xs-12 text-right">Khu vực</div>
    <div class="col-lg-5 col-md-4 col-xs-12"><select id="searchAreas" name="searchAreas" class="form-control" multiple="multiple"></select></div>
</div>
<div class="row form-group">
    <div class="col-md-12 text-right">
        <a class="btn btn-sm btn-info" href="@Url.Action("ExportExcelTrack", "ImageManagement")">Tìm kiếm</a>
        <a class="btn btn-sm btn-info" href="@Url.Action("ExportExcelTrack", "ImageManagement")">Export Excel</a>
    </div>
</div>
<!-- Modal View Images Packaged-->
<div class="modal fade" id="myModalImgView" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a data-href="@Url.Action("DownloadImagePackage", "ImageManagement")" href="#" class="btn btn-primary btn-download"><i class="fa fa-download"></i> Tải về</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="list" class="table table-bordered table-striped table-hover">
                            <thead style="font-weight:bold;">
                                <tr>
                                    <th></th>
                                    <th>.No</th>
                                    <th>Ngày thực hiện</th>
                                    <th>Mã nhân viên</th>
                                    <th>Tên nhân viên</th>
                                    <th>Người quản lý</th>
                                    <th>Mã cửa hàng</th>
                                    <th>Tên cửa hàng</th>
                                    <th>Khu vực</th>
                                    <th>Trạng thái</th>
                                    <th>Hình Ảnh</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal New-->
<div class="modal fade" id="myModalNewImg" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div id='modelContainer'></div>
    </div>
</div>

<!-- Hieu.pt Modal Update Store-->
<div class="modal fade" id="myModalUpdateStore" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdateStore'></div>
    </div>
</div>

<!-- Hieu.pt Modal Update Posm Number-->
<div class="modal fade" id="myModalUpdatePosm" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdatePosm'></div>
    </div>
</div>

@section scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>

        function expandTrack(id) {
            if ($("#track-expand-" + id).length) {
                $("#track-" + id + " .btn-expand i").removeClass("fa-minus").addClass("fa-plus");
                $("#track-expand-" + id).remove();
            } else {
                $(".btn-expand i").removeClass("fa-minus").addClass("fa-plus");
                $(".track-expand").remove();

                $.ajax({
                    method: "GET",
                    url: '@Url.Action("ExpandTrack", "ImageManagement")',
                    data: { id: id },
                    success: function (res) {
                        $("#track-" + id + " .btn-expand i").removeClass("fa-plus").addClass("fa-minus");
                        $("#track-" + id).after(res);

                    }, error: function (error) {
                        alert("Error!");
                    }
                });
            }
        }

        function loadTrackSessionCarousel(id) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("TrackSessionCarousel", "ImageManagement")',
                data: { id: id },
                success: function (res) {
                    $("#track-carousel").html(res);
                    $(".btn-view-carousel").removeClass("disabled");
                    $("#btn-view-carousel-" + id).addClass("disabled");
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        function deleteTrackDetail(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackDetail", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-detail-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa nhân viên thành công!");
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function deleteTrackSession(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa gói hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackSession", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-session-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa thành công!");
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function editTrackSession(id, title) {
            $("#myModalImgView").modal('show');

            $("#myModalImgView .modal-header .modal-title").html(title);
            $("#myModalImgView .modal-footer .btn-download").attr("href", $("#myModalImgView .modal-footer .btn-download").attr("data-href") + "?id=" + id);
            $.ajax({
                method: "GET",
                url: '@Url.Action("EditTrackSession", "ImageManagement")',
                data: { id: id },
                success: function (res) {
                    $("#myModalImgView .modal-body").html(res);

                    $("#SessionDetailImage").change(function () {
                        readURL(this);
                        console.log(this);
                    });
                }, error: function (error) {
                    alert("Error!" + error);
                }
            });
        }

        function changeDetailImage(id) {
            $("#formChangeImage #SessionDetailImage").attr("data-id", id);
            $("#formChangeImage #SessionDetailImage").click();
        }

        function submitChangeDetailImage() {
            var frmEdit = $("#formChangeImage");
            frmEdit.submit(function (ev) {
                ev.preventDefault();

                var formData = new FormData(this);
                $.ajax({
                    type: frmEdit.attr('method'),
                    url: frmEdit.attr("action"),
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.IsSuccess) {
                            $("#track-detail-" + res.Id + " a.btn-change").removeClass("hidden");
                            $("#track-detail-" + res.Id + " a.btn-submit").addClass("hidden");

                            $('#track-detail-' + res.Id + ' img.img-origin').attr("src", $("img#img-preview").attr("src"));

                            $("img#img-preview").remove();
                            $('#track-detail-' + res.Id + ' img.img-origin').removeClass("hidden");

                            openFunc.pushNotifySuccess("Thay đổi thành công!");
                        } else {
                            openFunc.pushNotifyError(res.Message);
                        }
                    }
                });
            });

            $("#formChangeImage").submit();
        }

        function readURL(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                $("img.img-origin").removeClass("hidden");
                $("img#img-preview").remove();
                $("a.btn-change").removeClass("hidden");
                $("a.btn-submit").addClass("hidden");

                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = $(input).attr("data-id");
                    $('#track-detail-' + id + ' img.img-origin').addClass("hidden");
                    $('#track-detail-' + id + ' img.img-origin').after('<img id="img-preview" src="' + e.target.result + '" style="width:auto; height:70px;">');

                    $("#track-detail-" + id + " a.btn-change").addClass("hidden");
                    $("#track-detail-" + id + " a.btn-submit").removeClass("hidden");

                    $("#SessionDetailId").val(id);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        //Thêm thông tin.
        function addNew(trackId, employeeId, masterStoreId) {
            //var url = '@Url.Action("AddNew", "ImageManagement")' + "?trackId=" + trackId + "&&employeeId=" + employeeId + "&&masterStoreId=" + masterStoreId;
            $.ajax({
                method: "GET",
                url: '@Url.Action("AddNew", "ImageManagement")',
                data: {
                    trackId: trackId,
                    employeeId: employeeId,
                    masterStoreId: masterStoreId
                },
                success: function (data) {
                    $('#modelContainer').html(data);
                    $('#myModalNewImg').modal('show');
                }
            });
            //$.get(url, function (data) {
            //    $('#modelContainer').html(data);
            //    $('#myModalNewImg').modal('show');
            //});
        }


        /*Hieu.pt Show popup*/
        function btnUpdate_Click(id) {
            var url = '@Url.Action("GetDetail", "ImageManagement")' + "?id=" + id;

            $.get(url, function (data) {
                $('#modelContainerUpdateStore').html(data);
                $('#myModalUpdateStore').modal('show');
            });
        }

        function btnUpdatePosmNumber_Click(TrackSessionId, MediaTypeId, MediaTypeName, PosmNumber) {

            console.log(PosmNumber);
            var url = '@Url.Action("GetPosm", "ImageManagement")' + "?trackSessionId=" + TrackSessionId + "&mediaTypeId=" + MediaTypeId + "&mediaTypeName=" + MediaTypeName + "&posmNumber=" + PosmNumber;

            $.get(url, function (data) {
                $('#modelContainerUpdatePosm').html(data);
                $('#myModalUpdatePosm').modal('show');
            });
        }


    </script>

    <script>

        var table;

        /**
         * l: length changing input control
         * f: filtering input
         * t: The table
         * i: Table informatin summary
         * p: pagination control
         * r: Processing display element
         * < and > - div element
         * <"class" and > - div with a class
         * <"#id" and > - div with an ID
         * <"#id.class" and > - div with an ID and a class
         * https://datatables.net/reference/option/dom
         */
        var dom = '<"top"<"row"<"col-md-3 col-sm-4 col-xs-12"l><"col-md-6 col-sm-4 col-xs-12"<"toolbar">><"col-md-3 col-sm-4 col-xs-12 text-right"f>>>rt<"bottom"<"row"<"col-md-5 col-sm-6 col-xs-12"i><"col-md-7 col-sm-6 col-xs-12"p>>><"clear">';

        /* Formatting function for row details - modify as you need */
        function detailRow(id, row) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("ExpandTrack", "ImageManagement")',
                async: false,
                data: { id: id },
                success: function (res) {
                    var tmp = '<table>' + res.toString() + '</table>';
                    row.child(tmp).show();
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        $(document).ready(function () {

            $('select').SumoSelect({
                placeholder: 'Chọn',
                selectAll: true,
                search: true,
                searchText: 'Tìm...',
                noMatch: 'Không tìm thấy "{0}"',
                captionFormat: '',
                captionFormatAllSelected: 'Đã chọn tất cả',
                csvDispCount: 7
            });

            table = $('#list').DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                responsive: true,
                pageLength: 10,
                pagingType: 'full_numbers',
                dom: dom,
                info: true,
                autoWidth: false,
                initComplete: function (settings, json) {
                    //Do something after finish
                },
                language: {
                    lengthMenu: 'Hiển thị _MENU_',
                    zeroRecords: 'Dữ liệu không tồn tại',
                    info: 'Trang _PAGE_/_PAGES_',
                    infoEmpty: 'Không tìm thấy kết quả',
                    infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
                    search: 'Tìm kiếm',
                    processing: 'Đang xử lý',
                    paginate: {
                        first: '<<',
                        previous: '<',
                        next: '>',
                        last: '>>'
                    }
                },
                order: [[2, "desc"]],
                ajax: {
                    //url: '/ImageManagement/index',
                    url: '@Url.Action("index", "ImageManagement")',
                    type: 'post',
                    data: function (d) {
                        //d.Parameter1 = $('#ddlSelect').val();
                        //d.Parameter2 = $('#monthSelectValue').val();
                    }
                },
                columns: [
                    {
                        className: 'details-control',
                        orderable: false,
                        render: function (obj, type, data, meta) {
                            return '<input type="hidden" value="' + data.Id + '" />';
                        }
                    },
                    {
                        orderable: false,
                        width: '40px',
                        className: 'ctn-center',
                        render: function (obj, type, data, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'Date',
                        orderable: false,
                        searchable: false,
                        width: '80px'
                    },
                    {
                        data: 'EmployeeId'
                    },
                    {
                        data: 'EmployeeName'
                    },
                    {
                        data: 'Manager'
                    },
                    {
                        data: 'MasterStoreCode'
                    },
                    {
                        data: 'MasterStoreName'
                    },
                    {
                        data: 'Region'
                    },
                    {
                        data: 'StoreStatus',
                        orderable: false,
                        searchable: false,
                        render: function (obj, type, data, meta) {
                            if (data.StoreStatus === true) {
                                return 'Thành công';
                            } else {
                                return 'Không thành công';
                            }
                        }
                    },
                    {
                        orderable: false,
                        searchable: false,
                        render: function (obj, type, data, meta) {
                            var str = '';
                            $.each(data.TrackSessions, function (idx, item) {
                                var titleSession = data.MasterStoreCode + '_' + item.CreateDateString;
                                if (item.Status === true) {
                                    str += '<div class="btn-group" id="track-session-' + item.Id + '">';
                                    str += '<a class="btn btn-xs btn-info" href="#" onclick="editTrackSession("' + item.Id + '", "' + titleSession + '"); return false;">' + titleSession + '</a>';
                                    str += '<a class="btn btn-xs btn-danger" href="#" onclick="deleteTrackSession("' + item.Id + '"); return false;"><i class="fa fa-fw fa-close"></i></a>';
                                    str += '</div>';
                                } else {
                                    str += '<div class="btn-group" id="track-session-' + item.Id + '">';
                                    str += '<a class="btn btn-xs btn-warning" href="#">' + titleSession + '(Chưa Submit)</a>';
                                    str += '</div>';
                                }
                            });
                            str += '<button class="btn btn-success btn-xs" onclick="addNew("' + data.Id + '", "' + data.EmployeeId + '", "' + data.MasterStoreId + '")"><i class="fa fa-plus fa-fw"></i> Thêm</button>';
                            return str;
                        }
                    }
                ]
            });

            // Add event listener for opening and closing details
            $('#list tbody').on('click', 'td.details-control', function () {

                //find id
                var input = $(this).find("input");
                var id = $(input).val();

                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    //row.child(format(row.data())).show();
                    detailRow(id, row);
                    tr.addClass('shown');
                }
            });
        });
    </script>
}
