@using PagedList.Mvc
@model PagedList.IPagedList<ImageManagementViewModel>
@using EmployeeTracking.Data.ModelCustom

@{
    ViewBag.Title = "Quản lý hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý hình ảnh</h2>

<div class="row">
    <div class="col-xs-12">

        <a class="btn btn-sm btn-info" href="@Url.Action("ExportExcelTrack", "ImageManagement")">Export Excel</a>

    </div>
</div>
<div class="row clearfix">
    <p></p>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead style="font-weight:bold;">
                                <tr>
                                    <td></td>
                                    <td>.No</td>
                                    <td>Mã nhân viên</td>
                                    <td>Tên nhân viên</td>
                                    <td>Mã cửa hàng</td>
                                    <td>Tên cửa hàng</td>
                                    <td>Khu vực</td>
                                    <td>Trạng thái</td>
                                    <td>Hình Ảnh</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="track-@item.Id">
                                        <td><a class="btn btn-link btn-expand" href="#" onclick="expandTrack('@item.Id'); return false;"><i class="fa fa-plus fa-fw"></i></a></td>
                                        <td>1</td>
                                        <td>@item.EmployeeId</td>
                                        <td>@item.EmployeeName</td>
                                        <td>@item.MasterStoreId</td>
                                        <td>@item.MasterStoreName</td>
                                        <td>@item.Region</td>
                                        <td>@(item.StoreStatus.HasValue && item.StoreStatus.Value ? "Thành công" : "Không thành công")</td>
                                        <td>
                                            @foreach (var item2 in item.TrackSessions)
                                            {
                                                var titleSession = string.Format("{0:dd-MM-yyyy}", item2.CreateDate);

                                                <div class="btn-group" id="track-session-@item2.Id">
                                                    <a class="btn btn-xs btn-info" href="#" onclick="editTrackSession('@item2.Id', '@titleSession'); return false;">@titleSession</a>
                                                    <a class="btn btn-xs btn-danger" href="#" onclick="deleteTrackSession('@item2.Id'); return false;"><i class="fa fa-fw fa-close"></i></a>
                                                </div>
                                            }

                                            <button class="btn btn-success btn-xs" onclick="addNew()"><i class="fa fa-plus fa-fw"></i> Thêm</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.PageNumbersOnly)
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </div>
</div>

<!-- Modal View Images Packaged-->
<div class="modal fade" id="myModalImgView" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a data-href="@Url.Action("DownloadImagePackage", "ImageManagement")" href="#" class="btn btn-primary btn-download"><i class="fa fa-download"></i> Tải về</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal New-->
<div class="modal fade" id="myModalNewImg" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div id='modelContainer'></div>
    </div>
</div>

@section CSS {
    <style>
        @@media (min-width: 992px) {
            .modal-lg {
                width: 85%;
            }
        }
    </style>
}

<script>
    
</script>

@section scripts {
    <script>
        function expandTrack(id) {
            if ($("#track-expand-" + id).length) {
                $("#track-" + id + " .btn-expand i").removeClass("fa-minus").addClass("fa-plus");
                $("#track-expand-" + id).remove();
            } else {
                $(".btn-expand i").removeClass("fa-minus").addClass("fa-plus");
                $(".track-expand").remove();

                $.ajax({
                    method: "GET",
                    url: '@Url.Action("ExpandTrack", "ImageManagement")',
                    data: { id: id },
                    success: function (res) {
                        $("#track-" + id + " .btn-expand i").removeClass("fa-plus").addClass("fa-minus");
                        $("#track-" + id).after(res);

                    }, error: function (error) {
                        alert("Error!");
                    }
                });
            }
        }

        function loadTrackSessionCarousel(id) {
              $.ajax({
                    method: "GET",
                    url: '@Url.Action("TrackSessionCarousel", "ImageManagement")',
                    data: { id: id },
                    success: function (res) {
                        $("#track-carousel").html(res);
                        $(".btn-view-carousel").removeClass("disabled");
                        $("#btn-view-carousel-" + id).addClass("disabled");
                    }, error: function (error) {
                        alert("Error!");
                    }
                });
        }

        function deleteTrackDetail(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackDetail", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-detail-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa nhân viên thành công!");
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function deleteTrackSession(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa gói hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackSession", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-session-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa thành công!");
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function editTrackSession(id, title) {
            $("#myModalImgView").modal('show');

            $("#myModalImgView .modal-header .modal-title").html(title);
            $("#myModalImgView .modal-footer .btn-download").attr("href", $("#myModalImgView .modal-footer .btn-download").attr("data-href") + "?id=" + id);
            $.ajax({
                method: "GET",
                url: '@Url.Action("EditTrackSession", "ImageManagement")',
                data: { id: id },
                success: function (res) {
                    $("#myModalImgView .modal-body").html(res);

                    $("#SessionDetailImage").change(function () {
                        readURL(this);
                    });
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        function changeDetailImage(id) {
            $("#formChangeImage #SessionDetailImage").attr("data-id", id);
            $("#formChangeImage #SessionDetailImage").click();
        }

        function submitChangeDetailImage() {
            var frmEdit = $("#formChangeImage");
            frmEdit.submit(function (ev) {
                ev.preventDefault();

                var formData = new FormData(this);
                $.ajax({
                    type: frmEdit.attr('method'),
                    url: frmEdit.attr("action"),
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.IsSuccess) {
                            $("#track-detail-" + res.Id + " a.btn-change").removeClass("hidden");
                            $("#track-detail-" + res.Id + " a.btn-submit").addClass("hidden");

                            $('#track-detail-' + res.Id + ' img.img-origin').attr("src", $("img#img-preview").attr("src"));

                            $("img#img-preview").remove();
                            $('#track-detail-' + res.Id + ' img.img-origin').removeClass("hidden");

                            openFunc.pushNotifySuccess("Thay đổi thành công!");
                        } else {
                            openFunc.pushNotifyError(res.Message);
                        }
                    }
                });
            });

            $("#formChangeImage").submit();
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                $("img.img-origin").removeClass("hidden");
                $("img#img-preview").remove();
                $("a.btn-change").removeClass("hidden");
                $("a.btn-submit").addClass("hidden");

                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = $(input).attr("data-id");
                    $('#track-detail-' + id + ' img.img-origin').addClass("hidden");
                    $('#track-detail-' + id + ' img.img-origin').after('<img id="img-preview" src="' + e.target.result + '" style="width:auto; height:70px;">');

                    $("#track-detail-" + id + " a.btn-change").addClass("hidden");
                    $("#track-detail-" + id + " a.btn-submit").removeClass("hidden");

                    $("#SessionDetailId").val(id);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        //Thêm thông tin.
        function addNew() {
            var url = '@Url.Action("AddNew", "ImageManagement")';

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#myModalNewImg').modal('show');
            });
        }
    </script>
}
