@using EmployeeTracking.Data.ModelCustom
@using System.Web.Configuration;
@{
    ViewBag.Title = "Quản lý hình ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstRoles = (List<String>)Session["Roles"];
}
@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link href="~/Assets/sumo/sumoselect.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <style>
        @@media (min-width: 992px) {
            .modal-lg {
                width: 85%;
            }
        }

        .track-expand table > thead > tr > th,
        .track-expand table > tbody > tr > td {
            border: 2px solid #f4f4f4;
        }

        td.details-control {
            background: url('@WebConfigurationManager.AppSettings["rootURl"]/Content/Images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('@WebConfigurationManager.AppSettings["rootURl"]/Content/Images/details_close.png') no-repeat center center;
        }

        div#myModal {
            max-width: 600px;
            /*max-height: 500px;*/
        }

        .modal-open {
            overflow: auto !important;
        }

            .modal-open .modal {
                overflow-y: hidden;
            }

        .modal {
            background: rgba(0,0,0,0);
        }

        .modal-body {
            position: relative;
            max-height: 800px;
            overflow-y: auto;
        }

        .modal-backdrop {
            display: none !important;
        }

        .modal-header {
            height: 50px;
            background-color: #444;
            color: #ddd;
        }

        .SumoSelect {
            width: 100%;
        }

            .SumoSelect .select-all {
                height: 36px;
            }
    </style>
    <style>
        .imageReview {
            width: 150px;
            height: 150px;
            border: 2px solid gray;
        }

        .marginLeftDiv {
            margin-left: 10px;
        }

        .divValidate {
            color: Red;
            clear: left;
        }

        .imgMulti {
            height: 150px;
            width: 150px;
            margin-right: 5px;
            border: 1px solid gray;
        }
    </style>
}

<script src="~/Scripts/jquery-migrate-1.4.1.js"></script>
<script src="~/Assets/sumo/jquery.sumoselect.min.js"></script>
<h2>Quản lý hình ảnh</h2>
<!-- Modal View Images Packaged-->
<div class="modal fade" id="myModalImgView" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a data-href="@Url.Action("DownloadImagePackage", "ImageManagement")" href="#" class="btn btn-primary btn-download"><i class="fa fa-download"></i> Tải về</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!-- Hieu.pt Modal Udate status-->

<div class="modal fade" id="myModalUpdateStatus" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdateStatus'></div>
    </div>
</div>
<!-- Hieu.pt Modal Udate Employee-->
<div class="modal fade" id="myModalUpdateEmployee" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdateEmployee'></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ngày</label>
                                <input type="text" id="searchDate" name="searchDate" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Khu vực</label>
                                <select id="searchAreas" name="searchAreas" class="form-control filter" multiple="multiple">
                                    @{
                                        foreach (var item in ViewBag.region as List<string>)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Cửa hàng</label>
                                <input type="text" class="form-control" id="searchStore" name="searchStore" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">

                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nhân viên</label>
                                <select id="searchEmployee" name="searchEmployee" class="form-control filter" multiple="multiple">
                                    @{
                                        foreach (var item in ViewBag.employee as List<EmployeeManagerModel>)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group" style="margin-top:25px;">
                                @if (lstRoles.Contains("ImageManager_Search"))
                                {
                                    <a class="btn btn-sm btn-info searchbtn">Tìm kiếm</a>
                                }
                                @if (lstRoles.Contains("ImageManager_ExportExcel"))
                                {
                                    <a class="btn btn-sm btn-info exportBtn">Export Excel</a>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div style="max-width: 2000px;overflow-x: scroll;">
                            <table id="list" class="table table-bordered table-striped table-hover">
                                <thead style="font-weight:bold;">
                                    <tr>
                                        <th></th>
                                        <th>.No</th>
                                        <th>Ngày thực hiện</th>
                                        <th>Mã nhân viên</th>
                                        <th>Tên nhân viên</th>
                                        <th>Người quản lý</th>
                                        <th>Mã cửa hàng</th>
                                        <th>Tên cửa hàng</th>
                                        <th>Khu vực</th>
                                        <th>Trạng thái</th>
                                        <th>Hình Ảnh</th>
                                        <th>QC báo cáo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal New-->
<div class="modal fade" id="myModalNewImg" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div id='modelContainer'></div>
    </div>
</div>
<!-- Hieu.pt Modal Update Store-->
<div class="modal fade" id="myModalUpdateStore" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdateStore'></div>
    </div>
</div>
<!-- Hieu.pt Modal Update Posm Number-->
<div class="modal fade" id="myModalUpdatePosm" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerUpdatePosm'></div>
    </div>
</div>
<div class="modal fade" id="myModalUpdateUnSubmitSession" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div id='modelContainerUpdateUnSubmitSession'></div>
    </div>
</div>
<!--hung.td Modal New-->
<div class="modal fade" id="qcReportModel" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">QC báo cáo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Loại
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="qcTrackID" />
                        <select id="qcStatusType" class="form-control">
                            <option value="0">Chưa phân loại</option>
                            <option value="1">Đạt</option>
                            <option value="2">Không đạt</option>
                            <option value="3">Chờ phản hồi thị trường</option>
                            <option value="4">Nhắc nhỡ</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-qcSatus"><i class="fa fa-download"></i> Lưu lại</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js"></script>
    <script>

        function loadTrackSessionCarousel(id, trackid) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("TrackSessionCarousel", "ImageManagement")',
                data: {
                    id: id,
                    TrackIdForCarousel: $("#TrackIdForCarousel-" + trackid).val()
                },
                success: function (res, status, xhr) {
                    console.log("#track-carousel-" + xhr.getResponseHeader("trackSessionIdForCarousel"));
                    $("#track-carousel-" + xhr.getResponseHeader("trackSessionIdForCarousel")).html(res);
                    $(".btn-view-carousel").removeClass("disabled");
                    $("#btn-view-carousel-" + id).addClass("disabled");
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        function deleteTrackDetail(id) {
            console.log('delete tract detail');
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackDetail", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-detail-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa ảnh thành công!");
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function changeDetailImage(id) {
            console.log('change detail image');
            $("#formChangeImage #SessionDetailImage").attr("data-id", id);
            $("#formChangeImage #SessionDetailImage").click();
        }

        function submitChangeDetailImage() {
            console.log('submit detail image');
            var frmEdit = $("#formChangeImage");
            frmEdit.submit(function (ev) {
                ev.preventDefault();

                var formData = new FormData(this);
                $.ajax({
                    type: frmEdit.attr('method'),
                    url: frmEdit.attr("action"),
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.IsSuccess) {
                            $("#track-detail-" + res.Id + " a.btn-change").removeClass("hidden");
                            $("#track-detail-" + res.Id + " a.btn-submit").addClass("hidden");

                            $('#track-detail-' + res.Id + ' img.img-origin').attr("src", $("img#img-preview").attr("src"));

                            $("img#img-preview").remove();
                            $('#track-detail-' + res.Id + ' img.img-origin').removeClass("hidden");

                            openFunc.pushNotifySuccess("Thay đổi thành công!");
                        } else {
                            openFunc.pushNotifyError(res.Message);
                        }
                    }
                });
            });

            $("#formChangeImage").submit();
        }

        function readURL(input) {
            console.log(input);
            if (input.files && input.files[0]) {
                $("img.img-origin").removeClass("hidden");
                $("img#img-preview").remove();
                $("a.btn-change").removeClass("hidden");
                $("a.btn-submit").addClass("hidden");

                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = $(input).attr("data-id");
                    $('#track-detail-' + id + ' img.img-origin').addClass("hidden");
                    $('#track-detail-' + id + ' img.img-origin').after('<img id="img-preview" src="' + e.target.result + '" style="width:auto; height:70px;">');

                    $("#track-detail-" + id + " a.btn-change").addClass("hidden");
                    $("#track-detail-" + id + " a.btn-submit").removeClass("hidden");

                    $("#SessionDetailId").val(id);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
    <!--Search box-->
    <script>
        var fromDate = '';
        var endDate = '';
        $(document).ready(function () {

            fromDate = dateToYMD(new Date());
            endDate = dateToYMD(new Date());


            $('#searchDate').daterangepicker({
                startDate: new Date(),
                maxDate: new Date(),
                minYear: 1990,
                maxYear: parseInt(moment().format('YYYY'), 10)
            });

            $('#searchDate').on('apply.daterangepicker', function (ev, picker) {
                fromDate = picker.startDate.format('YYYY-MM-DD');
                endDate = picker.endDate.format('YYYY-MM-DD');
            });

            $('select.filter').SumoSelect({
                placeholder: 'Chọn',
                selectAll: true,
                search: true,
                searchText: 'Tìm...',
                noMatch: 'Không tìm thấy "{0}"',
                captionFormat: '',
                captionFormatAllSelected: 'Đã chọn tất cả',
                csvDispCount: 7
            });

        });

        $(document).on('click', '.searchbtn', function (e) {
            table.ajax.reload();
        });

        $(document).on('click', '.exportBtn', function (e) {
            $('#myModalLoading').modal('show');
            var arealList = '';
            var emplList = '';
            //
            var _lArea = $('#searchAreas').val();
            var _lEmpl = $('#searchEmployee').val();

            $.each(_lArea, function (idx, item) {
                arealList += item + ',';
            });

            $.each(_lEmpl, function (idx, item) {
                emplList += item + ',';
            });
            //
            var url = '@Url.Action("ExportExcelTrack", "ImageManagement")' + '?FromDate=' + fromDate + '&ToDate=' + endDate + '&Region=' + arealList + '&Store=' + $('#searchStore').val() + '&Employee=' + emplList;
            window.location.href = url;
        });

        $(document).ajaxComplete(function () {
            $('#myModalLoading').modal('hide');
        });

        function dateToYMD(date) {
            var d = date.getDate();
            var m = date.getMonth() + 1; //Month from 0 to 11
            var y = date.getFullYear();
            return '' + y + '-' + (m <= 9 ? '0' + m : m) + '-' + (d <= 9 ? '0' + d : d);
        }
    </script>
    <!--Track session-->
    <script>

        //Add new image
        function addNew(trackId, employeeId, masterStoreId) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("AddNew", "ImageManagement")',
                data: {
                    trackId: trackId,
                    employeeId: employeeId,
                    masterStoreId: masterStoreId
                },
                success: function (data) {
                    $('#modelContainer').html(data);
                    $('#myModalNewImg').modal('show');
                }
            });
        }

        //Edit tract session
        function editTrackSession(id, title) {
            $("#myModalImgView").modal('show');

            $("#myModalImgView .modal-header .modal-title").html(title);
            $("#myModalImgView .modal-footer .btn-download").attr("href", $("#myModalImgView .modal-footer .btn-download").attr("data-href") + "?id=" + id);
            $.ajax({
                method: "GET",
                url: '@Url.Action("EditTrackSession", "ImageManagement")',
                data: { id: id },
                success: function (res) {
                    $("#myModalImgView .modal-body").html(res);

                    $("#SessionDetailImage").change(function () {
                        readURL(this);
                        console.log(this);
                    });
                }, error: function (error) {
                    alert("Error!" + error);
                }
            });
        }

        //Delete track session
        function deleteTrackSession(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa gói hình này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrackSession", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-session-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa thành công!");
                                table.ajax.reload();
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

    </script>
    <!--Table-->
    <script>

        var table;

        /**
         * l: length changing input control
         * f: filtering input
         * t: The table
         * i: Table informatin summary
         * p: pagination control
         * r: Processing display element
         * < and > - div element
         * <"class" and > - div with a class
         * <"#id" and > - div with an ID
         * <"#id.class" and > - div with an ID and a class
         * https://datatables.net/reference/option/dom
         */
        var dom = '<"top"<"row"<"col-md-3 col-sm-4 col-xs-12"l><"col-md-6 col-sm-4 col-xs-12"<"toolbar">><"col-md-3 col-sm-4 col-xs-12 text-right"f>>>rt<"bottom"<"row"<"col-md-5 col-sm-6 col-xs-12"i><"col-md-7 col-sm-6 col-xs-12"p>>><"clear">';

        /* Formatting function for row details - modify as you need */
        function detailRow(id, row) {
            $.ajax({
                method: "GET",
                url: '@Url.Action("ExpandTrack", "ImageManagement")',
                async: false,
                data: { id: id },
                success: function (res) {
                    var tmp = '<table>' + res.toString() + '</table>';
                    row.child(tmp).show();
                }, error: function (error) {
                    alert("Error!");
                }
            });
        }

        $(document).ready(function () {

            table = $('#list').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                responsive: true,
                pageLength: 10,
                pagingType: 'full_numbers',
                dom: dom,
                info: true,
                autoWidth: false,
                initComplete: function (settings, json) {
                    //Do something after finish
                },
                language: {
                    lengthMenu: 'Hiển thị _MENU_',
                    zeroRecords: 'Dữ liệu không tồn tại',
                    info: 'Trang _PAGE_/_PAGES_',
                    infoEmpty: 'Không tìm thấy kết quả',
                    infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
                    search: 'Tìm kiếm',
                    processing: 'Đang xử lý',
                    paginate: {
                        first: '<<',
                        previous: '<',
                        next: '>',
                        last: '>>'
                    }
                },
                // order: [[2, "desc"]],
                ajax: {
                    //url: '/ImageManagement/index',
                    url: '@Url.Action("index", "ImageManagement")',
                    type: 'post',
                    data: function (d) {
                        var arealList = [];
                        var storeList = [];
                        var emplList = [];
                        //
                        var _lArea = $('#searchAreas').val();
                        var _lEmpl = $('#searchEmployee').val();
                        if ($('#searchStore').val() !== '') {
                            var _lStore = $('#searchStore').val().split(',');
                            $.each(_lStore, function (idx, item) {
                                storeList.push($.trim(item));
                            });
                        }

                        $.each(_lArea, function (idx, item) {
                            arealList.push(item);
                        });


                        $.each(_lEmpl, function (idx, item) {
                            emplList.push(item);
                        });

                        //
                        d.FromDate = fromDate;
                        d.ToDate = endDate;
                        d.Region = arealList;
                        d.Store = storeList;
                        d.Employee = emplList;
                    }
                },
                columns: [
                    {
                        className: 'details-control',
                        orderable: false,
                        render: function (obj, type, data, meta) {
                            return '<input type="hidden" value="' + data.Id + '" />';
                        }
                    },
                    {
                        orderable: false,
                        width: '40px',
                        className: 'ctn-center',
                        render: function (obj, type, data, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'Date',
                        orderable: false,
                        searchable: false,
                        width: '80px'
                    },
                    {
                        data: 'EmployeeId',
                        searchable: false,
                        orderable: false,
                    },
                    {
                        data: 'EmployeeName',
                        searchable: false,
                        orderable: false,
                        width: '150px',
                        render: function (obj, type, data, meta) {
                            if (data.lstRole.includes("ImageManager_ChangeEmployee") == true) {
                                return data.EmployeeName + '<a class="btn btn-xs btn-info" onclick="UpdateEmployee_Click(\'' + data.Id + '\')"><span class="glyphicon glyphicon-pencil"></span></i></a>';
                            }
                            else
                            {
                                return data.EmployeeName
                            }
                        }
                    },
                    {
                        data: 'Manager',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'MasterStoreCode',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'MasterStoreName',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'Region',
                        searchable: false,
                        orderable: false
                    },
                    {
                        data: 'StoreStatus',
                        orderable: false,
                        searchable: false,
                        width: '150px',
                        render: function (obj, type, data, meta) {
                            if (data.lstRole.includes("ImageManager_ChangeStatus") == true) {
                                if (data.StoreStatus === true) {
                                    return 'Thành công <a class="btn btn-xs btn-info" onclick="UpdateStoreStatus_Click(\'' + data.Id + '\')"><span class="glyphicon glyphicon-pencil"></span></i></a>';
                                } else {
                                    return 'Không thành công <a class="btn btn-xs btn-info" onclick="UpdateStoreStatus_Click(\'' + data.Id + '\')"><span class="glyphicon glyphicon-pencil"></span></a>';
                                }
                            }
                            else
                            {
                                if (data.StoreStatus === true) {
                                    return 'Thành công';
                                } else {
                                    return 'Không thành công';
                                }
                            }

                        }
                    },
                    {
                        orderable: false,
                        searchable: false,
                        render: function (obj, type, data, meta) {
                            var str = '';
                            $.each(data.TrackSessions, function (idx, item) {
                                var titleSession = data.MasterStoreCode + '_' + item.CreateDateString;
                                if (item.Status === true) {
                                    str += '<div class="btn-group" id="track-session-' + item.Id + '">';
                                    if (data.lstRole.includes("ImageManager_UpdateTrackSession") == true) {
                                        str += '<a class="btn btn-xs btn-info editTrackSessionBtn" href="javascript:;" data-Id="' + item.Id + '" data-Title="' + titleSession + '">' + titleSession + '</a>';
                                    }
                                    else
                                        //str += '';
                                        str += '<a class="btn btn-xs btn-info" href="javascript:;" data-Id="' + item.Id + '" data-Title="' + titleSession + '">' + titleSession + '</a>';

                                    if (data.lstRole.includes("ImageManager_DeleteTrackSession") == true) {
                                        str += '<a class="btn btn-xs btn-danger deleteTrackSessionBtn" href="javascript:;" data-Id="' + item.Id + '"><i class="fa fa-fw fa-close"></i></a>';
                                    }
                                    else
                                        str += '';
                                    str += '</div>';
                                } else {
                                    str += '<div class="btn-group" id="track-session-' + item.Id + '">';
                                    if (data.lstRole.includes("ImageManager_UpdateImageNotSubmit") == true) {
                                        str += '<a class="btn btn-xs btn-warning updateUnsubmitSession" href="javascript:;" data-Id="' + item.Id + '" data-employeeId="' + data.EmployeeId + '">' + titleSession + '(Chưa Submit)</a>';
                                    }
                                    else
                                        //str += '';
                                        str += '<a class="btn btn-xs btn-warning" href="javascript:;" data-Id="' + item.Id + '" data-employeeId="' + data.EmployeeId + '">' + titleSession + '(Chưa Submit)</a>';

                                    str += '</div>';
                                }
                            });
                            if (data.lstRole.includes("ImageManager_AddNewTrackSesion") == true) {
                                str += '<button class="btn btn-success btn-xs addNewBtn" data-Id="' + data.Id + '" data-EmployeeId="' + data.EmployeeId + '" data-MasterStoreId="' + data.MasterStoreId + '"><i class="fa fa-plus fa-fw"></i> Thêm</button>';
                            }
                            else
                                status += '';
                            return str;
                        }
                    },
                    {
                        searchable: false,
                        orderable: false,
                        render: function (obj, type, data, meta) {
                            if (data.lstRole.includes("ImageManager_ChangeQCStatus") == true)
                            {
                            return '<a href="javasript:;" class="qc-status" data-id="' + data.Id + '" data-qcStatus="' + data.QCStatus + '">' + data.QCStatusString + '</a>';
                            }
                            else
                            {
                            return '';
                            }
                        }
                    },

                    {
                        searchable: false,
                        orderable: false,
                        render: function (obj, type, data, meta) {
                            if (data.lstRole.includes("ImageManager_DeleteTrackSession") == true) {
                                return '<a class="btn btn-xs btn-danger" onclick="DeleteTrack_Click(\'' + data.Id + '\')"><span class="glyphicon glyphicon-remove"></span></i></a>';
                            }
                            else
                                return '';
                            }
                    }

                ]
            });

            // Add event listener for opening and closing details
            $('#list tbody').on('click', 'td.details-control', function () {

                //find id
                var input = $(this).find("input");
                var id = $(input).val();

                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    //row.child(format(row.data())).show();
                    detailRow(id, row);
                    tr.addClass('shown');
                }
            });

            //When user click add new image
            $('#list tbody').on('click', '.addNewBtn', function (e) {
                var id = $(this).attr('data-Id');
                var employeeId = $(this).attr('data-MasterStoreId');
                var masterStoreId = $(this).attr('data-MasterStoreId');
                addNew(id, employeeId, masterStoreId);
            });

            //When user click edit session
            $('#list tbody').on('click', '.editTrackSessionBtn', function (e) {
                var id = $(this).attr('data-Id');
                var title = $(this).attr('data-Title');
                editTrackSession(id, title);
            });

            //When user click delete session
            $('#list tbody').on('click', '.deleteTrackSessionBtn', function (e) {
                var id = $(this).attr('data-Id');
                deleteTrackSession(id);
            });

            $('#list tbody').on('click', '.qc-status', function () {
                var trackId = $(this).attr('data-id');
                var status = $(this).attr('data-qcStatus');
                $('#qcTrackID').val(trackId);
                $('#qcStatusType').val(status);
                $('#qcReportModel').modal('show');
            });

            $('#qcReportModel').on('click', '.save-qcSatus', function (e) {
                $.ajax({
                    url: '@Url.Action("UpdateQCStatus", "ImageManagement")',
                    type: "POST",
                    data: { trackId: $('#qcTrackID').val(), status: $('#qcStatusType').val() },
                    success: function (data) {
                        if (data.IsSuccess) {
                            openFunc.pushNotifySuccess("Cập nhật trạng thái công!");
                            table.ajax.reload();
                        } else {
                            openFunc.pushNotifyError(data.Message);
                        }
                        $('#qcReportModel').modal('hide');
                    },
                    error: function (xhr) {
                        $('#qcReportModel').modal('hide');
                    }
                });
            });

            $('#list tbody').on('click', '.updateUnsubmitSession', function () {
                var trackId = $(this).attr('data-Id');
                var employeeId = $(this).attr('data-employeeId');

                var url = '@Url.Action("UnSubmitSession", "ImageManagement")' + "?trackSessionId=" + trackId + '&employeeId=' + employeeId;

                $.get(url, function (data) {
                    $('#modelContainerUpdateUnSubmitSession').html(data);
                    $('#myModalUpdateUnSubmitSession').modal('show');
                });

            });

        });
    </script>
    <!--Digix table-->
    <script>

        var digixCurrentRow;

        $(document).on('click', 'a.digixUpdateBtn', function (e) {

            digixCurrentRow = $(this).closest('table').children('tbody').children('tr');

            var id = $(this).attr('data-DigixId');
            var url = '@Url.Action("GetDetail", "ImageManagement")' + "?id=" + id;

            $.get(url, function (data) {
                $('#modelContainerUpdateStore').html(data);
                $('#myModalUpdateStore').modal('show');
            });
        });

    </script>
    <!--POSM table-->
    <script>

        var posmTd;

        $(document).on('click', 'a.updatePosmNumberBtn', function (e) {

            var tr = $(this).parent().parent();
            posmTd = $(tr).find('td.posmNunber');

            var sessionId = $(this).attr('data-trackSessionId');
            var mediaTypeId = $(this).attr('data-mediaTypeId');
            var mediaTypeName = $(this).attr('data-mediaTypeName');
            var posmNumber = $(tr).find('td.posmNunber').html();

            var url = '@Url.Action("GetPosm", "ImageManagement")' + "?trackSessionId=" + sessionId + "&mediaTypeId=" + mediaTypeId + "&mediaTypeName=" + mediaTypeName + "&posmNumber=" + posmNumber;

            $.get(url, function (data) {
                $('#modelContainerUpdatePosm').html(data);
                $('#myModalUpdatePosm').modal('show');
                DeclareNumberValue();
            });
        });

        function DeclareNumberValue() {
            new AutoNumeric('#PosmNumber', {
                allowDecimalPadding: false,
                minimumValue: 0,
                maximumValue: 999
            });
        }


        //$(document).on('click', '#SavePosmType', function (e) {

        //});
        function SavePosmType(count) {
            $.ajax({
                url: '@Url.Action("SavePosmType", "ImageManagement")',
                type: "POST",
                data: {
                    trackSessionsId: $('#trackSessionsId').val(),
                    mediaTypeId: $("#dlPosmType-" + count + " option:selected").val(),
                    ValuePosmOfMediaType: $('#ValuePosmOfMediaType-' + count).val(),
                    OldMediaTypeId: $('#OldMediaTypeId-' + count).val(),
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        openFunc.pushNotifySuccess(data.Message);
                    } else {
                        openFunc.pushNotifyError(data.Message);
                    }
                }
            });

        }
        //Cập nhật StoreStatus.
        function UpdateStoreStatus_Click(id) {
            console.log(id);
            var url = '@Url.Action("getPopupUpdateStoreStatus", "ImageManagement")' + '?id=' + id;

            $.get(url, function (data) {
                $('#modelContainerUpdateStatus').html(data);
                $('#myModalUpdateStatus').modal('show');

            });
        }

        //Cập nhật Employee.
        function UpdateEmployee_Click(id) {
            console.log(id);
            var url = '@Url.Action("getPopupUpdateEmployee", "ImageManagement")' + '?id=' + id;

            $.get(url, function (data) {
                $('#modelContainerUpdateEmployee').html(data);
                $('#myModalUpdateEmployee').modal('show');

            });
        }

        //Delete track session
        function DeleteTrack_Click(id) {
            $.confirm({
                icon: 'fa fa-question-circle-o canhbao',
                closeIcon: true,
                height: 50,
                title: "Xác nhận",
                content: "Bạn muốn xóa gói này không?",
                columnClass: 'col-md-4 col-md-offset-4',
                confirmButton: 'Có',
                cancelButton: 'Không',
                confirm: function () {
                    $.ajax({
                        url: '@Url.Action("DeleteTrack", "ImageManagement")',
                        type: "POST",
                        data: { id: id },
                        success: function (data) {
                            if (data.IsSuccess) {
                                $("#track-session-" + id).remove();
                                openFunc.pushNotifySuccess("Xóa thành công!");
                                table.ajax.reload();
                            } else {
                                openFunc.pushNotifyError(data.Message);
                            }
                        }
                    });
                },
                cancel: function () {

                }
            });
        }

        function AddImage(MediaTypeId, count) {
            if (MediaTypeId == "DEFAULT") {
                document.getElementById('DEFAULT-GENERAL').click();
            }
            else
                if (MediaTypeId == "SELFIE") {
                    document.getElementById('DEFAULT-GENERAL-SELFIE').click();
                }
                else
                    if (MediaTypeId == "ADD_POSM") {
                        document.getElementById('DEFAULT-GENERAL-POSM-ADD').click();
                    }
                    else
                        if (MediaTypeId != "STORE_FAILED") {
                            document.getElementById('DEFAULT-GENERAL-POSM-' + count).click();
                        }
        }
    </script>
    <!--Image-->
    <script>
        function ValidateFileSize(fileid) {
            try {
                var fileSize = 0;
                if (navigator.userAgent.match(/msie/i)) {
                    var obaxo = new ActiveXObject("Scripting.FileSystemObject");
                    var filePath = $("#" + fileid)[0].value;
                    var objFile = obaxo.getFile(filePath);
                    var fileSize = objFile.size;
                    fileSize = fileSize / 1048576;
                }
                else {
                    fileSize = $(fileid)[0].files[0].size
                    fileSize = fileSize / 1048576;
                }

                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        function loadImageReview(value, idImage) {
            var filerd = new FileReader();
            filerd.onload = function (e) {
                $('#_img' + idImage).attr('src', e.target.result);
            };
            filerd.readAsDataURL(value.files[0]);
            $('#_div' + idImage).show();
        }

        function ValidateFile(value) {
            var file = getNameFromPath($(value).val());
            if (file != null) {
                var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
                switch (extension) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }

            if (flag == false) {

                var str = value.name;
                //var res = str.split("-");
                var data = "_val" + str;
                $("#" + data).text("Bạn chỉ có thể chọn file có định dạng jpg, jpeg, png");
                $("#" + value.name).val('');
                return false;
            }
            else {
                var size = ValidateFileSize(value);
                var str = value.name;
                //var res = str.split("-");
                var data = "_val" + str;
                if (size > 1) {
                    $("#" + data).text("Bạn chỉ có thể upload file kích thước tối đa là 1 MB.");
                    $("#" + value.name).val('');
                }
                else {
                    $("#" + data).text("");
                    loadImageReview(value, str);
                }
            }
        }

        function loadImageMultiReview(value, idImage) {
            debugger;
            var filerd = new FileReader();
            filerd.onload = function (e) {
                var divReview = $("#_div" + idImage);
                var img = $("<img />");
                img.attr("class", "imgMulti");
                img.attr("src", e.target.result);
                divReview.append(img);
            };
            filerd.readAsDataURL(value[0]);
        }

        function ValidateMultiFile(value) {
            var divReview = $("#_div" + value.name);
            divReview.html("");
            $(value.files).each(function () {
                var extension = this.name.substr((this.name.lastIndexOf('.') + 1)).toLowerCase();
                switch (extension) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }

                if (flag == false) {
                    var str = value.name;
                    var data = "_val" + str;
                    $("#" + data).text("Bạn chỉ có thể chọn file có định dạng jpg, jpeg, png");
                    $("#" + value.name).val('');
                    return false;
                }
                else {
                    var size = ValidateFileSize(value);
                    var str = value.name;
                    //var res = str.split("-");
                    var data = "_val" + str;
                    if (size > 1) {
                        $("#" + data).text("Bạn chỉ có thể upload file kích thước tối đa là 1 MB.");
                        $("#" + value.name).val('');
                    }
                    else {
                        $("#" + data).text("");
                        loadImageMultiReview($(this), str);
                        divReview.show();
                    }
                }
            });
        }
    </script>

}
