@model EmployeeTracking.Data.ModelCustom.TrackViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="modal-content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmDetail" }))
    {
        @Html.ValidationSummary(true)
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Cập nhật nhân viên</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label class="control-label">Nhân viên</label>
                        @(Html.DropDownListFor(model => model.EmployeeId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" }))
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        loadEmployee();
        var form = $("#frmDetail");
        form.validate();
        //Lưu
        $("#frmDetail").submit(function (event) {
            event.preventDefault();
            if (form.valid()) { //nhập hợp lệ
                $.ajax({
                    //url: '/ImageManagement/PosmUpdate',
                    url: '@Url.Action("UpdateEmployee", "ImageManagement")',
                    type: "POST",
                    data: $("#frmDetail").serialize(),
                    success: function (data) {
                        if (data.IsSuccess) {
                            openFunc.pushNotifySuccess("Cập nhật thành công!");
                            closePopUp();
                            table.ajax.reload();
                        }
                        else {
                            openFunc.pushNotifyError(data.Message);
                        }
                    }
                });
            }
        });

        function loadEmployee() {
            $.ajax({
                //url: "/Location/GetProvinceSelect",
                url: "@Url.Action("GetEmployeeSelect", "EmployeeManager")",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $("#EmployeeId").append($("<option></option>").val("").html("-- Chọn nhân viên --"));
                    $(result).each(function () {
                        if ("@Model.EmployeeId" != "" && this.Id == "@Model.EmployeeId") {
                            $("#EmployeeId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#EmployeeId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }
    });

    function closePopUp() {
        $('#myModalUpdateEmployee').modal('hide');
    }
</script>