@using EmployeeTracking.Data.ModelCustom
@model POSMTrackModel
@{
    ViewBag.Title = "POSMInstallationReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS
{
    <link href="~/Assets/plugins/dropzone/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Datetime-Picker-jQuery-Moment/css/datetimepicker.css" rel="stylesheet" />
    <link href="~/Assets/plugins/datepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    <style>
        .posm-item {
            position: relative;
            display: inline-block;
            float: left;
            margin-left: 10px;
            margin-top: 20px;
            width: 150px;
            height: 150px;
        }

            .posm-item img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .posm-item .posm-text {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }

            .posm-item .posm-btn-remove {
                position: absolute;
                top: -5px;
                right: -5px;
                width: 1.2em;
                height: 1.2em;
                z-index: 1000;
                font-size: 1.2em !important;
                line-height: 1em;
                text-align: center;
                font-weight: bold;
                border: 1px solid gray !important;
                border-radius: 1.2em;
                color: red;
                background-color: white;
                opacity: .5;
                cursor: pointer;
            }

                .posm-item .posm-btn-remove:hover {
                    text-decoration: none !important;
                    opacity: 1;
                }

            .posm-item .posm-text span {
                color: white;
                font: bold 14px/45px Helvetica, Sans-Serif;
                letter-spacing: -1px;
                background: rgb(0, 0, 0); /* fallback color */
                background: rgba(0, 0, 0, 0.7);
                padding: 5px;
            }
    </style>

}
<h2>Báo cáo lắp đặt POSM</h2>
@using (Html.BeginForm("SavePOSM", "ImageManagement", FormMethod.Post, new { }))
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Chọn ngày thực hiện</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Date)
                        <input type="text" class="datepicker" maxlength="20" readonly="readonly" value="@Model.Date.ToString("dd/MM/yyyy hh:mm")" />
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm ảnh cửa hàng</h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <h4>Hình tổng quan</h4>
                            <div class="posm-item">
                                <a class="posm-btn-remove" data-type="DEFAULT" data-sub-type="GENERAL" data-img="noimage.png"><i class="fa fa-remove"></i></a>
                                <img class="changeImageDefault" src="~/Content/Images/noimage.png" data-type="DEFAULT" data-sub-type="GENERAL" data-img="noimage.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <h4>Hình địa chỉ</h4>
                            <div class="posm-item">
                                <a class="posm-btn-remove" data-type="DEFAULT" data-sub-type="ADDRESS" data-img="noimage.png"><i class="fa fa-remove"></i></a>
                                <img class="changeImageDefault" src="~/Content/Images/noimage.png" data-type="DEFAULT" data-sub-type="ADDRESS" data-img="noimage.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <h4>Hình chấm công</h4>
                            <div class="posm-item">
                                <a class="posm-btn-remove" data-type="SELFIE" data-sub-type="" data-img="noimage.png"><i class="fa fa-remove"></i></a>
                                <img class="changeImageDefault" src="~/Content/Images/noimage.png" data-type="SELFIE" data-sub-type="" data-img="noimage.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm ảnh cửa hàng không thành công</h3>
                    <a class="btn btn-success btn-xs pull-right addStoreFailBtn"><i class="fa fa-pencil"></i> Thêm ảnh</a>
                    <div style="display: none;">
                        <input type="file" id="uploadFile" name="uploadFile" hidden onchange="ValidateFile(this);" />
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-xs-12">
                        <div class="form-group" id="storeDiv">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Ảnh POSM</h3>
                </div>
                <div class="box-body" style="max-height: 600px;overflow-y: scroll;">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <i class="fa fa-image"></i>
                            <h3 class="box-title">Banner 7Up Tết - <strong>Số lượng:</strong></h3>
                            <input type="number" min="0" style="color:black; font-weight:bold; width:40px!important;padding-left:1px!important;" />
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:30px;background:#F1F1F4;">
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình ký PXN</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình PXN đầy đủ</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình SPVB</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <i class="fa fa-image"></i>
                            <h3 class="box-title">Banner  Oolong - <strong>Số lượng:</strong></h3>
                            <input type="number" min="0" style="color:black; font-weight:bold; width:40px!important;padding-left:1px!important;" />
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="padding-bottom:30px;background:#F1F1F4;">
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình ký PXN</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình PXN đầy đủ</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                                <div class="posm-text"><span>Hình SPVB</span></div>
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                            </div>
                            <div class="posm-item">
                                <a class="posm-btn-remove"><i class="fa fa-remove"></i></a>
                                <img src="~/Content/Images/meow-meow.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Loại POSM</label>
                                <select class="form-control" id="posmType" name="posmType"></select>
                            </div>
                            <div class="form-group">
                                <label>Loại hình ảnh</label>
                                <select class="form-control">
                                    <option value="HINH_KY_PXN">Hình Ký PXN</option>
                                    <option value="HINH_PXN_FULL">Hình PXN đầy đủ</option>
                                    <option value="HINH_SPVB">Hình SPVB</option>
                                    <option value="">Ảnh khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <form action="/" id="frmFileUpload" class="dropzone" method="post" enctype="multipart/form-data">
                                    <div class="dz-message">
                                        <div class="drag-icon-cph">
                                            <img src="~/Content/Images/Network-Upload-icon.png" />
                                        </div>

                                        <h3>Thả tập tin ở đây hoặc nhấp để tải lên.</h3>
                                        <em>(Tải lên tối đa 5 hình cùng lúc. Mỗi hình không quá 4MB)</em>
                                    </div>
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <a class="btn btn-xs btn-block btn-info"><i class="fa fa-picture-o"></i> Thêm ảnh</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin Cửa Hàng</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Mã cửa hàng</label>
                        <div class="input-group input-group-sm">
                            @Html.HiddenFor(m => m.Id)
                            @Html.TextBoxFor(m => m.StoreCode, new { @class = "form-control", @maxlength = 100, @required = true, @placehoder = "Nhập mã cửa hàng", @tabindex = 1 })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info btn-flat findStoreBtn" onclick="findStore();">Tìm CH!</button>
                            </span>
                        </div>
                        <div>
                            @Html.ValidationMessageFor(m => m.StoreCode, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tên cửa hàng</label>
                        @Html.TextBoxFor(m => m.StoreName, new { @class = "form-control", @maxlength = 200, @required = true, @placehoder = "Nhập tên cửa hàng", @tabindex = 2 })
                        @Html.ValidationMessageFor(m => m.StoreName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = 100, @placehoder = "Nhập số điện thoại cửa hàng", @tabindex = 3 })
                    </div>
                    <div class="form-group">
                        <label>Số nhà</label>
                        @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control", @maxlength = 200, @placehoder = "Nhập số nhà", @tabindex = 4 })
                    </div>
                    <div class="form-group">
                        <label>Tên đường</label>
                        @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control", @maxlength = 200, @placehoder = "Nhập tên đường", @tabindex = 5 })
                    </div>
                    <div class="form-group">
                        <label>Tỉnh/Thành</label>
                        @Html.DropDownListFor(m => m.ProvinceId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @tabindex = 6 })
                    </div>
                    <div class="form-group">
                        <label>Quận/Huyện</label>
                        @Html.DropDownListFor(m => m.DistrictId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @tabindex = 7 })
                    </div>
                    <div class="form-group">
                        <label>Phường/Xã</label>
                        @Html.DropDownListFor(m => m.WardId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @tabindex = 8 })
                    </div>
                    <div class="form-group">
                        <label>Loại hình</label>
                        @Html.DropDownListFor(m => m.StoreType, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control", @tabindex = 9 })
                    </div>
                    <div class="form-group">
                        <label>Tọa độ cửa hàng</label><br />
                        <strong>
                            Kinh độ:
                            @Html.TextBoxFor(m => m.LNG, new { @class = "form-control", @maxlength = 20, @tabindex = 10 })
                        </strong>
                        <br />
                        <strong>
                            Vĩ độ:
                            @Html.TextBoxFor(m => m.LAT, new { @class = "form-control", @maxlength = 20, @tabindex = 11 })
                        </strong>
                    </div>
                    <div class="form-group">
                        <label>Nhân viên</label>
                            @{
                                List<SelectListItem> listItems = new List<SelectListItem>();
                                foreach (var item in ViewBag.employee as List<UserEmployeeManagerModel>)
                                {
                                    listItems.Add(new SelectListItem() { Value = item.EmployeeId, Text = item.EmployeeName });
                                }
                            }
                            @Html.DropDownListFor(m => m.EmployeeId, listItems, "Chọn nhân viên", new { @class = "form-control", @tabindex = 12 })
                            @Html.ValidationMessageFor(m => m.EmployeeId, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @row = 3, @placehoder = "Nhập ghi chú", @tabindex = 13 })
                    </div>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Success)
                            Thành công
                        </label>
                        <label>
                            @Html.CheckBoxFor(m => m.UnSuccess)
                            Không thành công
                        </label>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <a class="btn btn-warning" href="@Url.Action("Index","ImageManagement")">Quay lại</a>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>
                                }


@section scripts{
    <script src="~/Assets/plugins/dropzone/min/dropzone.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js"></script>
    <script src="~/Assets/plugins/datepicker/jquery.datetimepicker.full.min.js"></script>
    <script>

        var latValue = new AutoNumeric('#LAT', {
            allowDecimalPadding: false,
            decimalPlaces: 17,
            minimumValue: -89,
            maximumValue: 89
        });

        var lngValue = new AutoNumeric('#LNG', {
            allowDecimalPadding: false,
            decimalPlaces: 17,
            minimumValue: -179,
            maximumValue: 179
        });

        $(document).ready(function () {
            $(".datepicker").datetimepicker({
                format: 'd/m/Y H:i',
                timepickerScrollbar: false,
                onChangeDateTime: function (dp, $input) {
                    $("#Date").val($input.val());
                    console.log($input.val());
                }
            });
        });

        function guid() {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
                    .toString(16)
                    .substring(1);
            }
            return s4() + s4();
        }

        Dropzone.options.frmFileUpload = {
            paramName: "file",
            maxFilesize: 5,
            acceptedFiles: "image/*",
            addRemoveLinks: true,
            dictRemoveFile: "Xóa ảnh"
        };

        function findStore() {
            var day = $('#picker > span').html();
            var time = $('#picker > span').next().next().html();
            provinceId = '';
            districtId = '';
            wardId = '';
            if ($('#StoreCode').val().length > 0) {
                var url = '@Url.Action("FindStore", "StoreManager")' + '?code=' + $('#StoreCode').val();
                $.get({
                    url: url,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response != null) {
                            provinceId = response.ProvinceId;
                            districtId = response.DistrictId;
                            wardId = response.WardId;
                            $('#Id').val(response.Id);
                            $('#StoreName').val(response.Name);
                            $('#PhoneNumber').val(response.PhoneNumber);
                            $('#HouseNumber').val(response.HouseNumber);
                            $('#StreetName').val(response.StreetNames);
                            $('#ProvinceId').val(response.ProvinceId);
                            provinceChange();
                            $('#DistrictId').val(response.DistrictId);
                            $('#WardId').val(response.WardId);
                            $('#StoreType').val(response.StoreType);
                            if (response.LAT !== null) {
                                latValue.set(response.LAT);
                            }
                            if (response.LNG !== null) {
                                latValue.set(response.LNG);
                            }
                            $('#Notes').val('');
                        }
                    }
                })
            }
        }

        $(document).on('click', '#Success', function (e) {
            if ($(this).prop('checked') === true) {
                $('#UnSuccess').prop('checked', false);
            } else {
                $('#UnSuccess').prop('checked', true);
            }
        });

        $(document).on('click', '#UnSuccess', function (e) {
            if ($(this).prop('checked') === true) {
                $('#Success').prop('checked', false);
            } else {
                $('#Success').prop('checked', true);
            }
        });

    </script>
    <!--Form load-->
    <script>

        var provinceId = '';
        var districtId = '';
        var wardId = '';

        $(document).ready(function () {
            LoadMediaType();
            loadStoreType();
            loadProvince();

            $('#ProvinceId').change(function () {
                $('#DistrictId').empty();
                $('#WardId').empty();
                provinceChange();
            });

            $('#DistrictId').change(function () {
                $('#WardId').empty();
                districtChange();
            });
        });

        function LoadMediaType() {
            $.ajax({
                url: '@Url.Action("MediaType", "ImageManagement")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $("#posmType").empty();
                    $(result).each(function () {
                        $("#posmType").append($("<option></option>").val(this.Code).html(this.Name));
                    });
                },
                error: function (data) { }
            });
        }

        function loadStoreType() {
            $.ajax({
                url: '@Url.Action("GetStoreTypeSelect", "StoreManager")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $("#StoreType").append($("<option></option>").val("").html("-- Chọn loại cửa hàng --"));
                    $(result).each(function () {
                        if (provinceId != "" && this.Id == provinceId) {
                            $("#StoreType").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#StoreType").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }

        function loadProvince() {
            $.ajax({
                url: '@Url.Action("GetProvinceSelect", "Location")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    $("#ProvinceId").empty();
                    $("#ProvinceId").append($("<option></option>").val("").html("-- Chọn Tỉnh/Thành Phố --"));
                    $(result).each(function () {
                        if (provinceId != "" && this.Id == provinceId) {
                            $("#ProvinceId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#ProvinceId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }

        function provinceChange() {
            if ($("#ProvinceId").val() == null || $("#ProvinceId").val() == "") {
                $.ajax({
                    url: '@Url.Action("GetDistrictSelect", "Location")',
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    async: false,
                    data: { provinceId: "@ViewBag.ProvinceId" },
                    success: function (result) {
                        $("#DistrictId").empty();
                        $("#DistrictId").append($("<option></option>").val("").html("-- Chọn Quận/Huyện --"));
                        $(result).each(function () {
                            if (districtId != "" && this.Id == districtId) {
                                $("#DistrictId").append($("<option selected></option>").val(this.Id).html(this.Name));
                                districtChange();
                            }
                            else {
                                $("#DistrictId").append($("<option></option>").val(this.Id).html(this.Name));
                            }
                        });
                    },
                    error: function (data) { }
                });
            }
            else if ($("#ProvinceId").val() != null && $("#ProvinceId").val() != "") {
                $.ajax({
                    url: '@Url.Action("GetDistrictSelect", "Location")',
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    async: false,
                    data: { provinceId: $("#ProvinceId").val() },
                    success: function (result) {
                        $("#DistrictId").empty();
                        $("#DistrictId").append($("<option></option>").val("").html("-- Chọn Quận/Huyện --"));
                        $(result).each(function () {
                            if (districtId != "" && this.Id == districtId) {
                                $("#DistrictId").append($("<option selected></option>").val(this.Id).html(this.Name));
                                districtChange();
                            }
                            else {
                                $("#DistrictId").append($("<option></option>").val(this.Id).html(this.Name));
                            }
                        });
                    },
                    error: function (data) { }
                });
            }
        }

        function districtChange() {
            if ($("#DistrictId").val() == null || $("#DistrictId").val() == "") {
                $.ajax({
                    url: '@Url.Action("GetWardSelect", "Location")',
                    //url: "/Location/GetWardSelect",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    async: false,
                    data: { districtId: "@ViewBag.DistrictId" },
                    success: function (result) {
                        $("#WardId").empty();
                        $("#WardId").append($("<option></option>").val("").html("-- Chọn Phường/Xã --"));
                        $(result).each(function () {
                            if (wardId != "" && this.Id == wardId) {
                                $("#WardId").append($("<option selected></option>").val(this.Id).html(this.Name));
                            }
                            else {
                                $("#WardId").append($("<option></option>").val(this.Id).html(this.Name));
                            }
                        });
                    },
                    error: function (data) { }
                });
            }
            else if ($("#DistrictId").val() != null && $("#DistrictId").val() != "") {
                $.ajax({
                    url: '@Url.Action("GetWardSelect", "Location")',
                    //url: "/Location/GetWardSelect",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    datatype: JSON,
                    async: false,
                    data: { districtId: $("#DistrictId").val() },
                    success: function (result) {
                        $("#WardId").empty();
                        $("#WardId").append($("<option></option>").val("").html("-- Chọn Phường/Xã --"));
                        $(result).each(function () {
                            if (wardId != "" && this.Id == wardId) {
                                $("#WardId").append($("<option selected></option>").val(this.Id).html(this.Name));
                            }
                            else {
                                $("#WardId").append($("<option></option>").val(this.Id).html(this.Name));
                            }
                        });
                    },
                    error: function (data) { }
                });
            }
        }

    </script>
    <!--Image-->
    <script>
        var type = "";
        var subType = "";
        var fileName = "";
        var img = null;
        $(document).on('click', 'img.changeImageDefault', function (e) {
            img = $(this);
            type = $(this).attr('data-type');
            subType = $(this).attr('data-sub-type');
            fileName = $(this).attr('data-img');
            $('#uploadFile').click();
        });

        $(document).on('click', '.posm-btn-remove', function (e) {
            type = $(this).attr('data-type');
            subType = $(this).attr('data-sub-type');
            fileName = $(this).attr('data-img');
            img = $(this);
            if (type === "STORE_FAILED") {
                $(this).parent().remove();
            } else {
                $(this).attr('data-img', '');
                $(this).next().attr('src', '/Content/Images/noimage.png');
            }
            var url = '@Url.Action("POSMDeleteImage", "ImageManagement")';
            var form = new FormData();
            var request = new XMLHttpRequest();
            form.set('type', type);
            form.set('subType', subType);
            form.set('fileName', fileName);
            request.open('POST', url);
            request.send(form);
        });

        $(document).on('click', 'a.addStoreFailBtn', function (e) {
            type = 'STORE_FAILED';
            subType = '';
            img = null;
            fileName = '';
            $('#uploadFile').click();
        });

        function ValidateFileSize(fileid) {
            try {
                var fileSize = 0;
                if (navigator.userAgent.match(/msie/i)) {
                    var obaxo = new ActiveXObject("Scripting.FileSystemObject");
                    var filePath = $("#" + fileid)[0].value;
                    var objFile = obaxo.getFile(filePath);
                    var fileSize = objFile.size;
                    fileSize = fileSize / 1048576;
                }
                else {
                    fileSize = $(fileid)[0].files[0].size
                    fileSize = fileSize / 1048576;
                }

                return fileSize;
            }
            catch (e) {
                alert("Error is :" + e);
            }
        }

        function getNameFromPath(strFilepath) {
            var objRE = new RegExp(/([^\/\\]+)$/);
            var strName = objRE.exec(strFilepath);

            if (strName == null) {
                return null;
            }
            else {
                return strName[0];
            }
        }

        function loadImageReview(value, newFileName) {
            var filerd = new FileReader();
            $(img).attr('data-img', '');
            $(img).prev().attr('data-img', '');
            filerd.onload = function (e) {
                $(img).attr('src', e.target.result);
                $(img).attr('data-img', newFileName);
                $(img).prev().attr('data-img', newFileName);
            };
            filerd.readAsDataURL(value.files[0]);
        }

        function ValidateFile(value) {
            var file = getNameFromPath($(value).val());
            var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
            if (file != null) {
                switch (extension) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }
            }

            if (flag == false) {
                openFunc.pushNotifyWarning("Bạn chỉ có thể chọn file có định dạng jpg, jpeg, png");
                return false;
            }
            else {
                var size = ValidateFileSize(value);
                var str = value.name;
                if (size > 1) {
                    openFunc.pushNotifyWarning("Bạn chỉ có thể upload file kích thước tối đa là 1 MB.");
                }
                else {
                    var newFileName = guid();
                    if (type === "STORE_FAILED") {
                        $('#storeDiv').append('<div class="posm-item">\
                                                    <a class="posm-btn-remove" data-type="STORE_FAILED" data-sub-type="" data-img="' + newFileName + '.' + extension + '" > <i class="fa fa-remove"></i></a>\
                                                    <img id="' + newFileName + '" src="~/Content/Images/noimage.png" />\
                                                </div >');
                        img = $('#' + newFileName);
                    }
                    loadImageReview(value, newFileName + '.' + extension);

                    var url = '@Url.Action("POSMUploadImage", "ImageManagement")';
                    var form = new FormData();
                    var request = new XMLHttpRequest();
                    form.set('file', value.files[0]);
                    form.set('type', type);
                    form.set('subType', subType);
                    form.set('fileName', fileName);
                    form.set('newFileName', newFileName + '.' + extension);
                    request.open('POST', url);
                    request.send(form);
                    //Clean old file
                    $('#uploadFile').val('');
                }
            }
        }
        function loadImageMultiReview(value, idImage) {
            var filerd = new FileReader();
            filerd.onload = function (e) {
                var divReview = $("#_div" + idImage);
                var img = $("<img />");
                img.attr("class", "imgMulti");
                img.attr("src", e.target.result);
                divReview.append(img);
            };
            filerd.readAsDataURL(value[0]);
        }

        function ValidateMultiFile(value) {

            var divReview = $("#_div" + value.name);

            if ($(value).hasClass('addMore') === false) {
                divReview.html("");
            }

            $(value.files).each(function () {
                var extension = this.name.substr((this.name.lastIndexOf('.') + 1)).toLowerCase();
                switch (extension) {
                    case 'jpg':
                    case 'jpeg':
                    case 'png':
                        flag = true;
                        break;
                    default:
                        flag = false;
                }

                if (flag == false) {
                    var str = value.name;
                    var data = "_val" + str;
                    $("#" + data).text("Bạn chỉ có thể chọn file có định dạng jpg, jpeg, png");
                    $("#" + value.name).val('');
                    return false;
                }
                else {
                    var size = ValidateFileSize(value);
                    var str = value.name;
                    //var res = str.split("-");
                    var data = "_val" + str;
                    if (size > 1) {
                        $("#" + data).text("Bạn chỉ có thể upload file kích thước tối đa là 1 MB.");
                        $("#" + value.name).val('');
                    }
                    else {
                        $("#" + data).text("");
                        loadImageMultiReview($(this), str);
                        divReview.show();

                        @*if ($(value).hasClass('addMore')) {
                            var url = '@Url.Action("UploadOtherImage", "ImageManagement")';
                            var form = new FormData();
                            var request = new XMLHttpRequest();
                            form.set('file', this);
                            form.set('folder', str);
                            request.open('POST', url);
                            request.send(form);
                        }*@
                    }
                }
            });
        }

    </script>
}