@{
    var acc = (EmployeeTracking.Data.Database.user)Session["Account"];
    var lstRoles = (List<String>)Session["Roles"];
}
<!-- Sidebar user panel -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="~/Content/Images/220px-User_icon_2.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>@((acc != null) ? acc.UserName : "")</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
<!-- search form -->
@*<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>*@
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">THỐNG KÊ</li>
    @if (lstRoles.Contains("Statistic"))
    {
        <li>
            <a href="@Url.Action("Index","Statistic")">
                <i class="fa fa-circle-o"></i> <span>Thống Kê</span>
            </a>
        </li>
    }

    <li class="header">QUẢN LÝ</li>
@if (lstRoles.Contains("EmployeeManager"))
{
    <li>
        <a href="@Url.Action("Index", "EmployeeManager")">
            <i class="fa fa-circle-o"></i> <span>Quản lý nhân viên</span>
        </a>
    </li>
}
@if (lstRoles.Contains("StoreManager"))
{
    <li>
        <a href="@Url.Action("Index", "StoreManager")">
            <i class="fa fa-circle-o"></i> <span>Quản lý danh sách cửa hàng</span>
        </a>
    </li>
}
@if (lstRoles.Contains("ImageManager"))
{
    <li>
        <a href="@Url.Action("Index", "ImageManagement")">
            <i class="fa fa-circle-o"></i> <span>Quản lý hình ảnh</span>
        </a>
    </li>
}
@if (lstRoles.Contains("Attendance"))
{
    <li>
        <a href="@Url.Action("Index", "AttendanceManagement")">
            <i class="fa fa-circle-o"></i> <span>Quản lý điểm danh</span>
        </a>
    </li>
}
    @if (acc.Email == "admin@gmail.com")
    {
        
    }

</ul>
