@using PagedList.Mvc
@model PagedList.IPagedList<EmployeeTracking.Data.ModelCustom.StoreManagerModel>
@using System.Configuration;

@{
    ViewBag.Title = "StoreManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstRoles = (List<String>)Session["Roles"];
}

<h2>Quản lý cửa hàng</h2>

<div class="row">
    <div class="col-xs-12">
        @if (lstRoles.Contains("StoreManager_AddNew"))
        {
            <a class="btn btn-sm btn-success" onclick="addNew()">Thêm mới</a>
        }
        @*<a class="btn btn-sm btn-info" onclick="downloadExcel()">Export Excel</a>*@
        @if (lstRoles.Contains("StoreManager_ExportExcel"))
        {
            if (Model.Count > 0)
            {
                <a class="btn btn-sm btn-info" href="@Url.Action("ExportExcel", "StoreManager", new
                                        {
                                            code = @ViewBag.Code,
                                            name = @ViewBag.Name,
                                            ddlStoreType = @ViewBag.StoreType,
                                            houseNumber = @ViewBag.HouseNumber,
                                            streetName = @ViewBag.StreetName,
                                            ddlProvinceId = @ViewBag.ProvinceId,
                                            ddlDistrictId = @ViewBag.DistrictId,
                                            ddlWardId = @ViewBag.WardId,
                                            region = @ViewBag.Region
                                        })">Export Excel</a>
            }

        }
        @if (lstRoles.Contains("StoreManager_ImportExcel"))
        {
            <a class="btn btn-sm btn-info" onclick="document.getElementById('IMPORTEXCEL').click();">Import Excel</a>
        }
        <div style="display: none;">
            <input type="file" id="IMPORTEXCEL" name="IMPORTEXCEL"
                   onchange="ValidateFile(this);" />
        </div>
        <div class="divValidate" id="_valIMPORTEXCEL"></div>
    </div>
</div>
<div class="row clearfix">
    <p></p>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Index", "StoreManager", FormMethod.Get, new { id = "frmFilter" }))
                {
                    if (lstRoles.Contains("StoreManager_Search"))
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Mã cửa hàng</label>
                                        <input type="text" class="form-control" id="code" name="code" value="@ViewBag.Code" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Tên cửa hàng</label>
                                        <input type="text" class="form-control" id="name" name="name" value="@ViewBag.Name" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Loại hình cửa hàng</label>
                                        @(Html.DropDownList("ddlStoreType", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Số nhà</label>
                                        <input type="text" class="form-control" id="houseNumber" name="houseNumber" value="@ViewBag.HouseNumber" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Tên đường</label>
                                        <input type="text" class="form-control" id="streetName" name="streetName" value="@ViewBag.StreetName" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Tỉnh/Thành Phố</label>
                                        @(Html.DropDownList("ddlProvinceId", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Quận/Huyện</label>
                                        @(Html.DropDownList("ddlDistrictId", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Phường/Xã</label>
                                        @(Html.DropDownList("ddlWardId", new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" }))
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Vùng</label>
                                        <input type="text" class="form-control" id="region" name="region" value="@ViewBag.Region" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="form-group" style="margin-top:25px;">
                                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead style="font-weight:bold;">
                                <tr>
                                    <td>.No</td>
                                    <td>Mã cửa hàng</td>
                                    <td>Tên cửa hàng</td>
                                    <td>Loại hình cửa hàng</td>
                                    <td>Số nhà</td>
                                    <td>Tên đường</td>
                                    <td>Tỉnh/Thành Phố</td>
                                    <td>Quận/Huyện</td>
                                    <td>Phường/Xã</td>
                                    <td>Vùng</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Index)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StoreTypeName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HouseNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StreetNames)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProvinceName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DistrictName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.WardName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Region)</td>
                                        <td>
                                            @if (lstRoles.Contains("StoreManager_Update"))
                                            {
                                                <a class="btn btn-xs btn-info" onclick="btnUpdate_Click('@item.Id')">Chỉnh sửa</a>
                                            }
                                            @if (lstRoles.Contains("StoreManager_Delete"))
                                            {
                                                <a class="btn btn-xs btn-danger" onclick="btnDelete_Click('@item.Id')">Xóa</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new
                   {
                       page = page,
                       code = Request.QueryString["code"],
                       name = Request.QueryString["name"],
                       storeType = Request.QueryString["ddlStoreType"],
                       houseNumber = Request.QueryString["houseNumber"],
                       streetName = Request.QueryString["streetName"],
                       provinceId = Request.QueryString["ddlProvinceId"],
                       districtId = Request.QueryString["ddlDistrictId"],
                       wardId = Request.QueryString["ddlWardId"],
                       region = Request.QueryString["region"]
                   }), PagedListRenderOptions.PageNumbersOnly)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Addnew-->
<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainer'></div>
    </div>
</div>

<script>
    $(function () {
        loadStoreType_Main();
        loadProvince_Main();
        provinceChange_Main();
        districtChange_Main();
        $("#myModalDetail").on("hidden.bs.modal", function () {
            refreshData();
        });
        $("#myModalDetail").on("shown.bs.modal", function () {
            $("frmDetail").find("span.field-validation-valid").hide();
        });
        $('#ddlProvinceId').change(function () {
            $('#ddlDistrictId').empty();
            $('#ddlWardId').empty();
            provinceChange_Main();
        });

        $('#ddlDistrictId').change(function () {
            $('#ddlWardId').empty();
            districtChange_Main();
        });
    });

    function loadStoreType_Main() {
        $.ajax({
            url: '@Url.Action("GetStoreTypeSelect", "StoreManager")',
            //url: "/StoreManager/GetStoreTypeSelect",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (result) {
                $("#ddlStoreType").append($("<option></option>").val("").html("-- Chọn loại cửa hàng --"));
                $(result).each(function () {
                    if ("@ViewBag.StoreType" != "" && this.Id == "@ViewBag.StoreType") {
                        $("#ddlStoreType").append($("<option selected></option>").val(this.Id).html(this.Name));
                    }
                    else {
                        $("#ddlStoreType").append($("<option></option>").val(this.Id).html(this.Name));
                    }
                });
            },
            error: function (data) { }
        });
    }

    function loadProvince_Main() {
        $.ajax({
            url: '@Url.Action("GetProvinceSelect", "Location")',
            //url: "/Location/GetProvinceSelect",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (result) {
                $("#ddlProvinceId").append($("<option></option>").val("").html("-- Chọn Tỉnh/Thành Phố --"));
                $(result).each(function () {
                    if ("@ViewBag.ProvinceId" != "" && this.Id == "@ViewBag.ProvinceId") {
                        $("#ddlProvinceId").append($("<option selected></option>").val(this.Id).html(this.Name));
                    }
                    else {
                        $("#ddlProvinceId").append($("<option></option>").val(this.Id).html(this.Name));
                    }
                });
            },
            error: function (data) { }
        });
    }

    function provinceChange_Main() {
        if (($("#ddlProvinceId").val() == null || $("#ddlProvinceId").val() == "") && "@ViewBag.ProvinceId" != "") {
            $.ajax({
                url: '@Url.Action("GetDistrictSelect", "Location")',
                //url: "/Location/GetDistrictSelect",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                data: { provinceId: "@ViewBag.ProvinceId" },
                success: function (result) {
                    $("#ddlDistrictId").append($("<option></option>").val("").html("-- Chọn Quận/Huyện --"));
                    $(result).each(function () {
                        if ("@ViewBag.DistrictId" != "" && this.Id == "@ViewBag.DistrictId") {
                            $("#ddlDistrictId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#ddlDistrictId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }
        else if ($("#ddlProvinceId").val() != null && $("#ddlProvinceId").val() != "") {
            $.ajax({
                url: '@Url.Action("GetDistrictSelect", "Location")',
                //url: "/Location/GetDistrictSelect",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                data: { provinceId: $("#ddlProvinceId").val() },
                success: function (result) {
                    $("#ddlDistrictId").append($("<option></option>").val("").html("-- Chọn Quận/Huyện --"));
                    $(result).each(function () {
                        if ("@ViewBag.DistrictId" != "" && this.Id == "@ViewBag.DistrictId") {
                            $("#ddlDistrictId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#ddlDistrictId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }
    }

    function districtChange_Main() {
        if (($("#ddlDistrictId").val() == null || $("#ddlDistrictId").val() == "") && "@ViewBag.DistrictId" != "") {
            $.ajax({
                url: '@Url.Action("GetWardSelect", "Location")',
                //url: "/Location/GetWardSelect",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                data: { districtId: "@ViewBag.DistrictId" },
                success: function (result) {
                    $("#ddlWardId").append($("<option></option>").val("").html("-- Chọn Phường/Xã --"));
                    $(result).each(function () {
                        if ("@ViewBag.WardId" != "" && this.Id == "@ViewBag.WardId") {
                            $("#ddlWardId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#ddlWardId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }
        else if ($("#ddlDistrictId").val() != null && $("#ddlDistrictId").val() != "") {
            $.ajax({
                url: '@Url.Action("GetWardSelect", "Location")',
                //url: "/Location/GetWardSelect",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                data: { districtId: $("#ddlDistrictId").val() },
                success: function (result) {
                    $("#ddlWardId").append($("<option></option>").val("").html("-- Chọn Phường/Xã --"));
                    $(result).each(function () {
                        if ("@ViewBag.WardId" != "" && this.Id == "@ViewBag.WardId") {
                            $("#ddlWardId").append($("<option selected></option>").val(this.Id).html(this.Name));
                        }
                        else {
                            $("#ddlWardId").append($("<option></option>").val(this.Id).html(this.Name));
                        }
                    });
                },
                error: function (data) { }
            });
        }
    }

    //Thêm thông tin.
    function addNew() {
        var url = '@Url.Action("GetDetail", "StoreManager")' + "?id=";

        $.get(url, function (data) {
            $('#modelContainer').html(data);
            $('#myModalDetail').modal('show');
        });
    }

    function btnUpdate_Click(id) {
        var url = '@Url.Action("GetDetail", "StoreManager")' + "?id=" + id;

        $.get(url, function (data) {
            $('#modelContainer').html(data);
            $('#myModalDetail').modal('show');
        });
    }

    function btnDelete_Click(id) {
        $.confirm({
            icon: 'fa fa-question-circle-o canhbao',
            closeIcon: true,
            height: 50,
            title: "Xác nhận",
            content: "Bạn muốn xóa cửa hàng này không?",
            columnClass: 'col-md-4 col-md-offset-4',
            confirmButton: 'Có',
            cancelButton: 'Không',
            confirm: function () {
                $.ajax({
                    url: '@Url.Action("DeleteModel", "StoreManager")',
                    //url: '/StoreManager/DeleteModel',
                    type: "POST",
                    data: { id: id },
                    success: function (data) {
                        if (data.IsSuccess) {
                            refreshData();
                            //openFunc.pushNotifySuccess("Xóa cửa hàng thành công!");
                        }
                        else {
                            openFunc.pushNotifyError(data.Message);
                        }
                    }
                });
            },
            cancel: function () {

            }
        });
    }

    function refreshData() {
        $("#frmFilter").submit();
    }

    function downloadExcel() {
        window.location = '/StoreManager/ExportExcel?code=' + $("#code").val() + "&&name=" + $("#name").val() +
            "&&ddlStoreType=" + $("#ddlStoreType").val() + "&&houseNumber=" + $("#houseNumber").val() + "&&streetName=" + $("#streetName").val() +
            "&&ddlProvinceId=" + $("#ddlProvinceId").val() + "&&ddlDistrictId=" + $("#ddlDistrictId").val() + "&&ddlWardId=" + $("#ddlWardId").val() +
            "&&region=" + $("#region").val();
    }

    function ValidateFile(value) {
        var file = getNameFromPath($(value).val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1)).toLowerCase();
            switch (extension) {
                case 'xls':
                case 'xlsx':
                case 'csv':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }

        if (flag == false) {

            var str = value.name;
            var data = "_val" + str;
            $("#" + data).text("Bạn chỉ có thể chọn file có định dạng xls, xlsx, csv");
            $("#" + value.name).val('');
            return false;
        }
        else {
            var formData = new FormData();
            var totalFiles = document.getElementById("IMPORTEXCEL").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("IMPORTEXCEL").files[i];

                formData.append("IMPORTEXCEL", file);
            }
            $("#" + value.name).val('');
            $.ajax({
                type: "POST",
                url: '@Url.Action("ImportExcel", "StoreManager")',
                //url: '/StoreManager/ImportExcel',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.IsSuccess) {
                        refreshData();
                    }
                    else {
                        openFunc.pushNotifyError(data.Message);
                    }
                },
                error: function (error) {
                    openFunc.pushNotifyError(error);
                }
            });
        }
    }

    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }
</script>