<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Phân quyền quản lý nhân viên</h4>
        <input type="hidden" id="UserId" value="@ViewBag.id" />
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label class="control-label">Mã nhân viên</label>
                        <input type="text" id="searchUserCode" name="searchUserCode" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group" style="margin-top:25px;">
                        <a class="btn btn-primary" id="searchStore">Tìm kiếm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h4>Danh sách nhân viên</h4>
                <table id="listEmployee" class="table table-bordered table-striped table-hover">
                    <thead style="font-weight:bold;">
                        <tr>
                            <th style="width:13px;" class="ctn-center"><input type="checkbox" value="1" id="employeeSelectAll"></th>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                            <th>Điện thoại</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <h4>Quản lý nhân viên</h4>
                <table id="listEmployeeManaged" class="table table-bordered table-striped table-hover">
                    <thead style="font-weight:bold;">
                        <tr>
                            <th style="width:13px;" class="ctn-center"><input type="checkbox" name="decentralized_select_all" value="1" id="employeeManagedSelectAll"></th>
                            <th>Mã nhân viên</th>
                            <th>Họ tên</th>
                            <th>Điện thoại</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
    </div>
</div>

@section scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<script>
    var tableEmployee;
    var tableManager;
    /**
     * l: length changing input control
     * f: filtering input
     * t: The table
     * i: Table informatin summary
     * p: pagination control
     * r: Processing display element
     * < and > - div element
     * <"class" and > - div with a class
     * <"#id" and > - div with an ID
     * <"#id.class" and > - div with an ID and a class
     * https://datatables.net/reference/option/dom
     */
    var dom = '<"top"<"row"<"col-md-3 col-sm-4 col-xs-12"l><"col-md-6 col-sm-4 col-xs-12"<"toolbar">><"col-md-3 col-sm-4 col-xs-12 text-right"f>>>rt<"bottom"<"row"<"col-md-5 col-sm-6 col-xs-12"i><"col-md-7 col-sm-6 col-xs-12"p>>><"clear">';

</script>
<!--Employee list-->
<script>
    $(document).ready(function () {
        tableEmployee = $('#listEmployee').DataTable({
            processing: true,
            serverSide: true,
            searching: true,
            ordering: false,
            paging: true,
            responsive: true,
            pageLength: 10,
            pagingType: 'full_numbers',
            dom: dom,
            info: true,
            autoWidth: false,
            initComplete: function (settings, json) {
                //Do something after finish
            },
            language: {
                lengthMenu: 'Hiển thị _MENU_',
                zeroRecords: 'Dữ liệu không tồn tại',
                info: 'Trang _PAGE_/_PAGES_',
                infoEmpty: 'Không tìm thấy kết quả',
                infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
                search: 'Tìm kiếm',
                processing: 'Đang xử lý',
                paginate: {
                    first: '<<',
                    previous: '<',
                    next: '>',
                    last: '>>'
                }
            },
            ajax: {
                url: '@Url.Action("EmployeeWithoutManaged", "UserManagement")',
                type: 'post',
                data: function (d) {
                    d.UserId = $('#UserId').val();
                    d.UserCode = $('#searchUserCode').val();
                }
            },
            columns: [
                {
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    width: '15px',
                    className: 'dt-body-center',
                    render: function (obj, type, data, meta) {
                        return '<input type="checkbox" name="id[]" value="' + data.EmployeeId + '">';
                    }
                },
                {
                    data: 'EmployeeCode',
                    orderable: false,
                    searchable: true,
                },
                {
                    data: 'EmployeeName',
                    orderable: false,
                    searchable: true,
                },
                {
                    data: 'Phone',
                    orderable: false,
                    searchable: true,
                }
            ]
        });

        // Handle click on "Select all" control
        $('#employeeSelectAll').on('click', function () {
            var _checked = $(this).prop('checked');
            var _checkbox = $(this);
            if (_checked === false) {
                return;
            }
            $.ajax({
                method: "POST",
                url: '@Url.Action("SetAllEmployeeForUser", "UserManagement")',
                data: {
                    userId: $('#UserId').val(),
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        openFunc.pushNotifySuccess(data.Message);
                        tableEmployee.ajax.reload();
                        tableManager.ajax.reload();
                    } else {
                        openFunc.pushNotifyError(data.Message);
                    }
                    $(_checkbox).prop('checked', false);
                }
            });
        });
        // Handle click on checkbox to set state of "Select all" control
        $('#listEmployee tbody').on('change', 'input[type="checkbox"]', function () {
            $.ajax({
                method: "POST",
                url: '@Url.Action("SetEmployeeForUser", "UserManagement")',
                data: {
                    userId: $('#UserId').val(),
                    employeeId: $(this).val()
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        openFunc.pushNotifySuccess(data.Message);
                        tableEmployee.ajax.reload();
                        tableManager.ajax.reload();
                    } else {
                        openFunc.pushNotifyError(data.Message);
                    }
                }
            });
        });
        $(document).on('click', '#searchStore', function (e) {
            tableEmployee.ajax.reload();
        });
    });
</script>
<!--Employee managed list-->
<script>
    $(document).ready(function () {
        tableManager = $('#listEmployeeManaged').DataTable({
            processing: true,
            serverSide: true,
            searching: true,
            ordering: false,
            paging: true,
            responsive: true,
            pageLength: 10,
            pagingType: 'full_numbers',
            dom: dom,
            info: true,
            autoWidth: false,
            initComplete: function (settings, json) {
                //Do something after finish
            },
            language: {
                lengthMenu: 'Hiển thị _MENU_',
                zeroRecords: 'Dữ liệu không tồn tại',
                info: 'Trang _PAGE_/_PAGES_',
                infoEmpty: 'Không tìm thấy kết quả',
                infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
                search: 'Tìm kiếm',
                processing: 'Đang xử lý',
                paginate: {
                    first: '<<',
                    previous: '<',
                    next: '>',
                    last: '>>'
                }
            },
            //order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("ListEmployeeManaged", "UserManagement")',
                type: 'post',
                data: function (d) {
                    d.UserId = $('#UserId').val();
                }
            },
            columns: [
                {
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    className: 'dt-body-center',
                    width: '15px',
                    render: function (obj, type, data, meta) {
                        return '<input type="checkbox" name="id[]" value="' + data.EmployeeId + '">';
                    }
                },
                {
                    data: 'EmployeeCode',
                    orderable: false,
                    searchable: true,
                },
                {
                    data: 'EmployeeName',
                    orderable: false,
                    searchable: true,
                },
                {
                    data: 'Phone',
                    orderable: false,
                    searchable: true,
                }
            ]
        });

        // Handle click on "Select all" control
        $('#employeeManagedSelectAll').on('click', function () {
            var _checked = $(this).prop('checked');
            var _checkbox = $(this);
            if (_checked === false) {
                return;
            }

            $.ajax({
                method: "POST",
                url: '@Url.Action("RemoveAllEmployeeByUser", "UserManagement")',
                data: {
                    UserId: $('#UserId').val(),
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        openFunc.pushNotifySuccess(data.Message);
                        tableEmployee.ajax.reload();
                        tableManager.ajax.reload();
                    } else {
                        openFunc.pushNotifyError(data.Message);
                    }
                    $(_checkbox).prop('checked', false);
                }
            });
        });

        $('#listEmployeeManaged tbody').on('change', 'input[type="checkbox"]', function () {
            $.ajax({
                method: "POST",
                url: '@Url.Action("RemoveEmployeeForUser", "UserManagement")',
                data: {
                    userId: $('#UserId').val(),
                    employeeId: $(this).val()
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        openFunc.pushNotifySuccess(data.Message);
                        tableEmployee.ajax.reload();
                        tableManager.ajax.reload();
                    } else {
                        openFunc.pushNotifyError(data.Message);
                    }
                }
            });

        });

    });
</script>
