@using EmployeeTracking.Data.ModelCustom;
@{
    ViewBag.Title = "Quản lý loại tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <style>
        #list tbody tr td a {
            margin-left: 5px;
            margin-right: 5px;
        }

        .modal-header {
            height: 50px;
            background-color: #444;
            color: #ddd;
        }

        .modal-dialog {
            width: 902px;
            margin: 30px auto;
        }
    </style>
}

<h2>Quản lý hình ảnh</h2>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-success" onclick="addNew()">Thêm mới</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tên đăng nhập</label>
                                <input type="text" id="searchUserName" name="searchUserName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Loại tài khoản</label>
                                @(Html.DropDownList("searchUserType", new SelectList(ViewBag.UserType, "Code", "Name"), "Tất cả", new { @class = "form-control" }))

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <label class="control-label">Trạng thái</label>
                            @(Html.DropDownList("searchIsActive", new List<SelectListItem>() {
                                                new SelectListItem() {
                                                    Text = "Hoạt động",
                                                    Value = "true"
                                                },
                                                new SelectListItem() {
                                                    Text = "Vô hiệu hóa",
                                                    Value = "false"
                                                }
                                            }, "Tất cả", new { @class = "form-control" }))

                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Họ và Tên</label>
                                <input type="text" id="searchFullName" name="searchFullName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" id="searchEmail" name="searchEmail" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                <label class="control-label">Số điện thoại</label>
                                <input type="text" id="searchPhoneNumber" name="searchPhoneNumber" class="form-control" />
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="form-group" style="margin-top:25px;">
                            <a class="btn btn-sm btn-info searchbtn">Tìm kiếm</a>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <table id="list" class="table table-bordered table-striped table-hover">
                            <thead style="font-weight:bold;">
                                <tr>
                                    <th>Stt</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Họ và tên</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>loại tài khoản</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Addnew-->
<div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainer'></div>
    </div>
</div>

<!-- Modal Change Pasword-->
<div class="modal fade" id="myModalChangePass" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerChangePass'></div>
    </div>
</div>


<!-- Modal Decentralized Store-->
<div class="modal fade" id="myModalDecentralizedStore" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modelContainerDecentralizedStore'></div>
    </div>
</div>
<!-- Modal Decentralized Employee-->
<div class="modal fade" id="modalEmployeManager" tabindex="-1" role="dialog" data-backdrop="static" style="display: none;">
    <div class="modal-dialog" role="document">
        <div id='modalEmployeManagerContainer'></div>
    </div>
</div>
@section scripts {

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).on('click', '.searchbtn', function (e) {
            table.ajax.reload();
        });
        //Thêm thông tin.
        function addNew() {
            var url = '@Url.Action("GetDetail", "UserManagement")' + "?id=";

            $.get(url, function (data) {
                $('#modelContainer').html(data);
                $('#myModalDetail').modal('show');
            });
        }

        $(document).on('submit', "#form", function (e) {
            e.preventDefault();
            $(document).unbind('submit');
            return;
        });

        var beginSubmit = function () {
        };

        var onSuccess = function (response, status, e) {
            table.ajax.reload();
        };

        var OnFailure = function (response) {
        };

    </script>
    <script>

        var table;

        /**
         * l: length changing input control
         * f: filtering input
         * t: The table
         * i: Table informatin summary
         * p: pagination control
         * r: Processing display element
         * < and > - div element
         * <"class" and > - div with a class
         * <"#id" and > - div with an ID
         * <"#id.class" and > - div with an ID and a class
         * https://datatables.net/reference/option/dom
         */
        var dom = '<"top"<"row"<"col-md-3 col-sm-4 col-xs-12"l><"col-md-6 col-sm-4 col-xs-12"<"toolbar">><"col-md-3 col-sm-4 col-xs-12 text-right"f>>>rt<"bottom"<"row"<"col-md-5 col-sm-6 col-xs-12"i><"col-md-7 col-sm-6 col-xs-12"p>>><"clear">';

        $(document).ready(function () {

            table = $('#list').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                responsive: true,
                pageLength: 10,
                pagingType: 'full_numbers',
                dom: dom,
                info: true,
                autoWidth: false,
                initComplete: function (settings, json) {
                    //Do something after finish
                },
                language: {
                    lengthMenu: 'Hiển thị _MENU_',
                    zeroRecords: 'Dữ liệu không tồn tại',
                    info: 'Trang _PAGE_/_PAGES_',
                    infoEmpty: 'Không tìm thấy kết quả',
                    infoFiltered: '(Tìm kiếm trên _MAX_ dòng)',
                    search: 'Tìm kiếm',
                    processing: 'Đang xử lý',
                    paginate: {
                        first: '<<',
                        previous: '<',
                        next: '>',
                        last: '>>'
                    }
                },
                //order: [[1, "desc"]],
                ajax: {
                    url: '@Url.Action("Index", "UserManagement")',
                    type: 'post',
                    data: function (d) {
                        d.UserName = $('#searchUserName').val();
                        d.UserTypeCode = $('#searchUserType').val();
                        d.IsActive = $('#searchIsActive').val();
                        d.FullName = $('#searchFullName').val();
                        d.Email = $('#searchEmail').val();
                        d.PhoneNumber = $('#searchPhoneNumber').val();
                    }
                },
                columns: [
                    {
                        orderable: false,
                        width: '30px',
                        className: 'ctn-center',
                        render: function (obj, type, data, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: 'UserName',
                        orderable: false,
                        searchable: false,
                    },
                    {
                        data: 'FullName',
                        orderable: false,
                        searchable: false,
                    },
                    {
                        data: 'Email',
                        searchable: false,
                        orderable: false,
                    },
                     {
                         data: 'PhoneNumber',
                         searchable: false,
                         orderable: false,
                     },
                     {
                         data: 'UserTypeName',
                         searchable: false,
                         orderable: false,
                     },
                     {
                         data: 'IsActive',
                         searchable: false,
                         orderable: false,
                         className: 'text-center',
                         render: function (obj, type, data, meta) {
                             if (data.IsActive)
                                 return '<a class="btn btn-xs btn-success changeIsActive" data-id="' + data.Id + '">Hoạt động</a>';
                             else
                                 return '<a class="btn btn-xs btn-default changeIsActive" data-id="' + data.Id + '">Vô hiệu hóa</a>'
                         }
                     },
                    {
                        orderable: false,
                        searchable: false,
                        className: 'text-center',
                        render: function (obj, type, data, meta) {
                            var str = '';
                            str += '<a class="btn btn-xs btn-info edit" data-id="' + data.Id + '">Cập nhật</a>';
                            str += '<a class="btn btn-xs btn-default changePassword" data-id="' + data.Id + '">Đổi mật khẩu</a>';
                            str += '<a class="btn btn-xs btn-danger delete" data-id="' + data.Id + '">Xóa</a>';
                            return str;
                        }
                    },
                    {
                        orderable: false,
                        searchable: false,
                        className: 'text-center',
                        render: function (obj, type, data, meta) {
                            var str = '';
                            str += '<a class="btn btn-xs btn-info PQQLStore" data-id="' + data.Id + '">PQQLStore</a>';
                            str += '<a class="btn btn-xs btn-info employeeManager" data-id="' + data.Id + '">Quản lý nhân viên</a>';
                            return str;
                        }
                    }
                ]
            });

            $('#list tbody').on('click', 'a.view-permission', function () {
                var id = $(this).attr('data-Id');
                $('#viewModel').modal('show');
                var url = '@Url.Action("View", "UserType")' + "?id=" + id;

                $.get(url, function (data) {
                    $('#viewModelContent').html(data);
                    $('#viewModel').modal('show');
                });
            });

            $('#list tbody').on('click', 'a.edit', function (e) {
                var id = $(this).attr('data-Id');
                var url = '@Url.Action("GetDetail", "UserManagement")' + "?id=" + id;

                $.get(url, function (data) {
                    $('#modelContainer').html(data);
                    $('#myModalDetail').modal('show');
                });
            });

            $('#list tbody').on('click', 'a.PQQLStore', function (e) {
                var id = $(this).attr('data-Id');
                var url = '@Url.Action("GetDecentralizedStore", "UserManagement")' + "?id=" + id;

                $.get(url, function (data) {
                    $('#modelContainerDecentralizedStore').html(data);
                    $('#myModalDecentralizedStore').modal('show');
                });
            });

            $('#list tbody').on('click', 'a.employeeManager', function (e) {
                var id = $(this).attr('data-Id');
                var url = '@Url.Action("EmployeeManager", "UserManagement")' + "?id=" + id;

                $.get(url, function (data) {
                    $('#modalEmployeManagerContainer').html(data);
                    $('#modalEmployeManager').modal('show');
                });
            });

            $('#list tbody').on('click', 'a.changePassword', function (e) {
                var id = $(this).attr('data-Id');
                var url = '@Url.Action("GetUserToChangePass", "UserManagement")' + "?id=" + id;

                $.get(url, function (data) {
                    $('#modelContainerChangePass').html(data);
                    $('#myModalChangePass').modal('show');
                });

            });
            //When user click edit session
            $('#list tbody').on('click', 'a.delete', function (e) {
                var id = $(this).attr('data-Id');
                $.confirm({
                    icon: 'fa fa-question-circle-o canhbao',
                    closeIcon: true,
                    height: 50,
                    title: "Xác nhận",
                    content: "Bạn muốn xoá tài khoản không?",
                    columnClass: 'col-md-4 col-md-offset-4',
                    confirmButton: 'Có',
                    cancelButton: 'Không',
                    confirm: function () {
                        $.ajax({
                            method: "POST",
                            url: '@Url.Action("DeleteUser", "UserManagement")',
                            data: {
                                Id: id
                            },
                            success: function (data) {
                                if (data.IsSuccess) {
                                    openFunc.pushNotifySuccess(data.Message);
                                    table.ajax.reload();
                                } else {
                                    openFunc.pushNotifyError(data.Message);
                                }
                            }
                        });
                    },
                    cancel: function () {

                    }
                });
            });

            $('#list tbody').on('click', 'a.changeIsActive', function (e) {
                var id = $(this).attr('data-Id');
                $.confirm({
                    icon: 'fa fa-question-circle-o canhbao',
                    closeIcon: true,
                    height: 50,
                    title: "Xác nhận",
                    content: "Bạn muốn thay đổi trạng thái tài khoản không?",
                    columnClass: 'col-md-4 col-md-offset-4',
                    confirmButton: 'Có',
                    cancelButton: 'Không',
                    confirm: function () {
                        $.ajax({
                            method: "POST",
                            url: '@Url.Action("ChangeIsActive", "UserManagement")',
                            data: {
                                Id: id
                            },
                            success: function (data) {
                                if (data.IsSuccess) {
                                    openFunc.pushNotifySuccess(data.Message);
                                    table.ajax.reload();
                                } else {
                                    openFunc.pushNotifyError(data.Message);
                                }
                            }
                        });
                    },
                    cancel: function () {

                    }
                });

            });


        });
    </script>
}
