@model EmployeeTracking.Data.ModelCustom.StoreDetailInfoViewModel

@*=============================== Day la phan popup detail========================*@

<!-- Modal Addnew-->
@if (ViewBag.trackSessionsStart != null)
{
    <input type="hidden" id="tracksessions" value="@ViewBag.trackSessionsStart" />
}
<div class="col-md-12 map-popup-info">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Mã cửa hàng
                    </th>
                    <th>
                        Tên cửa hàng
                    </th>
                    <th>
                        Loại hình
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Tỉnh thành
                    </th>
                    <th>
                        Quận huyện
                    </th>
                    <th>
                        Phường xã
                    </th>
                    <th>
                        Số nhà
                    </th>
                    <th>
                        Tên đường
                    </th>
                    <th>
                        Khu vực
                    </th>
                </tr>
                <tr>
                    <td>
                        @Model.Code
                    </td>
                    <th>
                        @Model.Name
                    </th>
                    <th>
                        @Model.StoreType
                    </th>
                    <th>
                        @Model.PhoneNumber
                    </th>
                    <th>
                        @Model.ProvinceName
                    </th>
                    <th>
                        @Model.DistrictName
                    </th>
                    <th>
                        @Model.WardName
                    </th>
                    <th>
                        @Model.HouseNumber
                    </th>
                    <th>
                        @Model.StreetNames
                    </th>
                    <th>
                        @Model.Region
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 table-responsive" style="padding-left:0;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="2">THÔNG TIN POSM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listPosm)
                {
                    <tr>
                        <td style="width:75%">@Html.DisplayFor(modelItem => item.PosmTypeName)</td>
                        <td style="width:75%">@Html.DisplayFor(modelItem => item.CountPosmNumber)</td>
                    </tr>
                }
                <tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="" style="width:100%;">
                <tr>
                    <td>
                        @foreach (var item in Model.trackSessions)
                            {           
                                var titleSession = string.Format("{0}_{1:dd-MM-yyyy}",Model.Code, item.CreateDate);
                                <a class="btn btn-xs btn-info btn-view-carousel" id="btn-view-carousel-popup-@item.Id" href="#" onclick="loadTrackSessionCarouselPopup('@item.Id','@ViewBag.TrackId'); return false;">@titleSession</a>
                            }
                        <div id="track-carousel-popup"></div>
                    </td>
                </tr>
                <tbody>
                    <tr>
                        <td style="padding-top:25px;">
                            <div id="track-carousel" style="max-width:65%;">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>