@model EmployeeTracking.Data.ModelCustom.StoreDetailInfoViewModel

@*=============================== Day la phan popup detail========================*@

<!-- Modal Addnew-->
@if (ViewBag.trackSessionsStart != null)
{
    <input type="hidden" id="tracksessions" value="@ViewBag.trackSessionsStart" />
}
<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Mã cửa hàng
                    </th>
                    <th>
                        Tên cửa hàng
                    </th>
                    <th>
                        Loại hình
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Tỉnh thành
                    </th>
                    <th>
                        Quận huyện
                    </th>
                    <th>
                        Phường xã
                    </th>
                    <th>
                        Số nhà
                    </th>
                    <th>
                        Tên đường
                    </th>
                    <th>
                        Khu vực
                    </th>
                </tr>
                <tr>
                    <td>
                        @Model.Code
                    </td>
                    <th>
                        @Model.Name
                    </th>
                    <th>
                        @Model.StoreType
                    </th>
                    <th>
                        @Model.PhoneNumber
                    </th>
                    <th>
                        @Model.ProvinceName
                    </th>
                    <th>
                        @Model.DistrictName
                    </th>
                    <th>
                        @Model.WardName
                    </th>
                    <th>
                        @Model.HouseNumber
                    </th>
                    <th>
                        @Model.StreetNames
                    </th>
                    <th>
                        @Model.Region
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 table-responsive" style="padding-left:0;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="2">THÔNG TIN POSM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listPosm)
                {
                    <tr>
                        <td style="width:75%">@Html.DisplayFor(modelItem => item.PosmTypeName)</td>
                        <td style="width:75%">@Html.DisplayFor(modelItem => item.CountPosmNumber)</td>
                    </tr>
                }
                <tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="" style="width:100%;">
                <tr>
                    <td>
                        @foreach (var item in Model.trackSessions)
                            {           
                                var titleSession = string.Format("{0}_{1:dd-MM-yyyy}",Model.Code, item.CreateDate);
                                <a class="btn btn-xs btn-info btn-view-carousel" id="btn-view-carousel-@item.Id" href="#" onclick="loadTrackSessionCarousel('@item.Id'); return false;">@titleSession</a>
                            }
                        <div id="track-carousel"></div>
                    </td>
                </tr>
                <tbody>
                    <tr>
                        <td style="padding-top:25px;">
                            <div id="track-carousel" style="max-width:65%;">
                                @*<div id="carousel-custom" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-outer">
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181448-791cdf65-6e0c-41b2-906e-301d650dc8df.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181451-34c6d4ce-7c68-41bd-8319-891c28d5f92b.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190747-4bec43f6-879b-4e6a-a987-9eb7c2f52cfa.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190752-a01dd743-b83e-4233-a787-f58c5da4c089.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127181447-2175ac7a-992e-4cfc-b47a-7813dbe119f5.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127190741-6d0e103f-2787-44bf-867a-69706535ac16.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181454-c03834fb-79d1-4fe5-9695-7e0680f8506f.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181506-b4933c56-8399-4c14-a2ea-610261011501.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190757-2abcc380-7be1-4b17-bde6-3b935f870b71.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190803-bccff0be-496a-403e-912d-2c2fba7fe429.jpg">
                                            </div>
                                            <div class="item ">
                                                <img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190809-18e29135-9d32-4e93-829b-b1c3041d9377.jpg">
                                            </div>
                                        </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-custom" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-custom" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>

                                    <!-- Indicators -->
                                    <ol class="carousel-indicators mCustomScrollbar">

                                        <li data-target="#carousel-custom" data-slide-to="0" class="active"><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181448-791cdf65-6e0c-41b2-906e-301d650dc8df.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="1" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127181451-34c6d4ce-7c68-41bd-8319-891c28d5f92b.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="2" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190747-4bec43f6-879b-4e6a-a987-9eb7c2f52cfa.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="3" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/DEFAULT/20589024620181127190752-a01dd743-b83e-4233-a787-f58c5da4c089.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="4" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127181447-2175ac7a-992e-4cfc-b47a-7813dbe119f5.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="5" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/SELFIE/20589024620181127190741-6d0e103f-2787-44bf-867a-69706535ac16.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="6" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181454-c03834fb-79d1-4fe5-9695-7e0680f8506f.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="7" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127181506-b4933c56-8399-4c14-a2ea-610261011501.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="8" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190757-2abcc380-7be1-4b17-bde6-3b935f870b71.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="9" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190803-bccff0be-496a-403e-912d-2c2fba7fe429.jpg"></li>
                                        <li data-target="#carousel-custom" data-slide-to="10" class=""><img src="http://103.48.194.70/digixtracking_admin/MediaLibrary/2018/11/27/beae6949-3b06-42f7-800f-2994788f830c/TRANH_PEPSI_AND_7UP/20589024620181127190809-18e29135-9d32-4e93-829b-b1c3041d9377.jpg"></li>
                                    </ol>
                                </div>*@


                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>